/*= wizbank  CSS =========================================================
stylesheet type				  :MList View
suffix								   :mlstview
skin type						  : cw (cyberwisdom)
stylesheet name			   : mlstview.css	
version								: wizBank 3.5
=======================================================================*/

a.wbMLstViewLink:hover{
	color: #0066FF;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbMLstViewBg{
	background-color: #DEF7FF;
}

.wbMLstViewHeadBarBg{
	background-color: #8CCAF0;
}

.wbMLstViewHeadText{
	color: #08426F;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbMLstViewText, a.wbMLstViewLink,a.wbMLstViewLink:visited,a.wbMLstViewLink:active {
	color: #191970;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}
