/*= wizbank  CSS =========================================================
stylesheet type				  :Home
suffix								   :Home
skin type						  : cw (cyberwisdom)
stylesheet name			   : home.css	
version								: wizBank 3.5
=======================================================================*/

a.wbHomeLeftSText,a.wbHomeLeftSText:active,a.wbHomeLeftSText:visited, a.wbHomeLeftSText:hover {
	color: #BACFE0;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

a.wbHomeMidText,a.wbHomeMidText:active,a.wbHomeMidText:visited, .wbHomeRightText, a.wbHomeRightText,a.wbHomeRightText:active,a.wbHomeRightText:visited, a.wbHomeRightText:hover {
	color: #000000;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a.wbHomeRightTextBold:hover{
	color: #08335D;
	font: Bold 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

td{
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbHomeFootBg{
	background: #477DA3;
}

.wbHomeLeftBg{
	background: #477DA3;
	border-bottom-color: #BACFE0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.wbHomeLeftSText, a.wbHomeLeftText:hover, a.wbHomeLeftTextBold:hover {
	color: #D2E3ED;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.wbHomeLeftText, a.wbHomeLeftText,a.wbHomeLeftText:active,a.wbHomeLeftText:visited, .wbHomeLeftTextBold, a.wbHomeLeftTextBold,a.wbHomeLeftTextBold:active,a.wbHomeLeftTextBold:visited {
	color: #FFFFFF;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.wbHomeMidBarBg{
	background: #217ABC;
}

.wbHomeMidBg{
	background: #FFFFFF;
}

.wbHomeMidBoxBg{
	background: #D2E3ED;
}

.wbHomeMidHeadBg{
	background: #BACFE0;
}

.wbHomeMidHeadSText{
	color: #154B6F;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbHomeMidHeadText{
	color: #154B6F;
	font: Bold 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbHomeMidText, a.wbHomeMidText:hover {
	color: #006699;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbHomeRightBg{
	background: #C1D3DF;
}

.wbHomeRightBoxBg, .wbHomeBg, .wbHomeMidHeadBarBg {
	background: #81A3BC;
}

.wbHomeRightHeadBg{
	background: #174B70;
}

.wbHomeRightHeadText{
	color: #FFFFFF;
	font: Bold 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbHomeRightTextBold, a.wbHomeRightTextBold,a.wbHomeRightTextBold:active,a.wbHomeRightTextBold:visited {
	color: #000000;
	font: Bold 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}
