<!doctype html>
<html ng-app="message">
<head>
<meta charset="utf-8">
<meta
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
	name="viewport" id="viewport" />
<title translate="cwn_title"></title>
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />


<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../js/jquery.load.js"></script>
<script type="text/javascript"
	src="../../js/controllers/MessageController.js"></script>
<script type="text/javascript" src="../../lib/common.js"></script>
</head>
<body ng-cloak class="ng-cloak" ng-controller="addReceicerController">
	<alert ng-repeat="alert in alerts" ngCloak type="{{alert.type}}"
		close="alert.close()">{{alert.msg | translate}}</alert>

	<div class="wrap" id="wizwrap">
		<header class="header mm-background">
			<a class="header-back" href="javascript:back();" title="back"></a> <span
				class="header-title"><!-- 添加收件人 -->{{'msg_insert_receiver' | translate}}</span> <a ng-click="confirm()"
				class="header-info" href="javascript:void(0)"><!-- 确定 -->{{'sure' | translate}}</a>
		</header>
		<!-- header End -->

		<section class="content">
			<div class="pure-form-box-1">
				<form action="">
					<input ng-model="searchText" type="text" name="fdf" class="pure-form-txt-8"
						placeholder="{{'group_tip_search' | translate}}"> <input ng-click="search()" type="button" value=""
						name="mybtn" class="panel-box-btn-04">
				</form>
			</div>

			<div class="cont-info">
				<ul class="panel-list-1-10">
					<li ng-class="{cur:receiver.selected}" ng-repeat="receiver in receiverList.items" ng-click="select(this)">
						<div class="tuwen-list-2 clearfix">
							<a class="tuwen-list-2-pic" href="javascript:;" title="">
                         		<img id="user_photo_{{receiver.usr_ent_id}}" class="pic-user-w" ng-src="{{serverHost}}{{receiver.usr_photo}}" alt=""/>
                    		</a>
		                    <div class="tuwen-list-2-box"> 
		                         <div class="tuwen-list-2-tit-1">
		                              <a href="javascript:;" class="tuwen-list-2-user" title="" ng-bind="receiver.usr_display_bil"></a>
		                         </div>
		                         <p class="tuwen-list-2-tit-2">{{receiver.usg_display_bil}} {{receiver.ugr_display_bil != 'Unspecified' ? receiver.ugr_display_bil : ''}}</p>
		                    </div>
						</div>
					</li>
				</ul>
			</div>
			<div loader="receiverList"></div>
		</section>
		<!-- content End -->

	</div>
	<!-- wrap End -->

</body>
</html>