<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cwn.wizbank.cpdt.persistence.CpdtTypeMapper">
	<resultMap id="CpdtType" type="CpdtType">
		<id column="ct_id" property="ct_id" />
		<result column="ct_license_type" property="ct_license_type"></result>
		<result column="ct_license_alias" property="ct_license_alias"></result>
		<result column="ct_starting_month" property="ct_starting_month"></result>
		<result column="ct_display_order" property="ct_display_order"></result>
		<result column="ct_award_hours_type" property="ct_award_hours_type"></result>
		<result column="ct_cal_before_ind" property="ct_cal_before_ind"></result>
		<result column="ct_trigger_email_type" property="ct_trigger_email_type"></result>
		<result column="ct_trigger_email_month_1" property="ct_trigger_email_month_1"></result>
		<result column="ct_trigger_email_date_1" property="ct_trigger_email_date_1"></result>
		<result column="ct_trigger_email_month_2" property="ct_trigger_email_month_2"></result>
		<result column="ct_trigger_email_date_2" property="ct_trigger_email_date_2"></result>
		<result column="ct_trigger_email_month_3" property="ct_trigger_email_month_3"></result>
		<result column="ct_trigger_email_date_3" property="ct_trigger_email_date_3"></result>
		<result column="ct_last_email_send_time" property="ct_last_email_send_time"></result>
		<result column="ct_recover_hours_period" property="ct_recover_hours_period"></result>
		<result column="ct_create_usr_ent_id" property="ct_create_usr_ent_id"></result>
		<result column="ct_create_datetime" property="ct_create_datetime"></result>
		<result column="ct_update_usr_ent_id" property="ct_update_usr_ent_id"></result>
		<result column="ct_update_datetime" property="ct_update_datetime"></result>
		<result column="ct_status" property="ct_status"></result>
		<result column="ct_send_reports_supervisors" property="ct_send_reports_supervisors"></result>
		<result column="ct_web_course" property="ct_web_course"></result>
		<result column="ct_web_reached" property="ct_web_reached"></result>
	</resultMap>
	<!-- 增 -->
	<insert id="insert" parameterType="com.cwn.wizbank.cpdt.entity.CpdtType">

	</insert>
	<!-- 删 -->
	<update id="delete" parameterType="com.cwn.wizbank.cpdt.entity.CpdtType">

	</update>
	<!-- 改 -->
	<update id="update" parameterType="com.cwn.wizbank.cpdt.entity.CpdtType">

	</update>
	<!-- 通过ID查询 -->
	<select id="get" resultMap="CpdtType" parameterType="com.cwn.wizbank.cpdt.entity.CpdtType">
		<![CDATA[
			SELECT ct_id
			      ,ct_license_type
			      ,ct_license_alias
			      ,ct_starting_month
			      ,ct_display_order
			      ,ct_award_hours_type
			      ,ct_cal_before_ind
			      ,ct_trigger_email_type
			      ,ct_trigger_email_month_1
			      ,ct_trigger_email_date_1
			      ,ct_trigger_email_month_2
			      ,ct_trigger_email_date_2
			      ,ct_trigger_email_month_3
			      ,ct_trigger_email_date_3
			      ,ct_recover_hours_period
			      ,ct_last_email_send_time
			      ,ct_create_usr_ent_id
			      ,ct_create_datetime
			      ,ct_update_usr_ent_id
			      ,ct_update_datetime
			      ,ct_status
			      ,ct_send_reports_supervisors
			      ,ct_web_course
			      ,ct_web_reached
			      ,ct_org_id
			FROM cpdType 
			WHERE ct_status = 'OK' AND ct_id = #{ct_id,jdbcType=INTEGER}
		]]>
	</select>

	<select id="getTypeByCode" resultType="com.cwn.wizbank.cpdt.entity.CpdtType" parameterType="java.lang.String">
        SELECT
			ct_id,
			ct_license_type,
			ct_license_alias,
			ct_starting_month,
			ct_display_order,
			ct_award_hours_type,
			ct_cal_before_ind,
			ct_trigger_email_type,
			ct_trigger_email_month_1,
			ct_trigger_email_date_1,
			ct_trigger_email_month_2,
			ct_trigger_email_date_2,
			ct_trigger_email_month_3,
			ct_trigger_email_date_3,
			ct_recover_hours_period,
			ct_create_usr_ent_id,
			ct_create_datetime,
			ct_update_usr_ent_id,
			ct_update_datetime,
			ct_status,
			ct_last_email_send_time
		FROM
			cpdType
		WHERE
			ct_license_type = #{ctLicenseType}
		AND ct_status = 'OK'
    </select>
	




</mapper>