<!doctype html>
<html ng-app="module">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport"  id="viewport" />
<title translate="cwn_title"></title>
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />


<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../js/jquery.load.js"></script>
<script type="text/javascript" src="../../js/controllers/ModuleController.js"></script>
<script type="text/javascript" src="../../lib/common.js"></script>
</head>

<body ng-cloak class="ng-cloak" ng-controller="tstStartController">
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{alert.msg | translate}}</alert>    

<div class="wrap">
	<header class="header mm-background">
	    <a class="header-back" href="javascript:void(0);" ng-click="leave()"></a>
	    <span class="header-title" translate="personal_ls_exam"></span>
	</header> <!-- header End -->
	
	<section class="content">
		<div class="list-pic-4">
			<div class="own-box">
				<div class="own-box-area">
				     <div class="own-box-pic">
				          <a class="own-box-user" href="javascript:;">
				         	 <div>
				         	 	<img id="user_photo_{{user.usr_ent_id}}" ng-src="{{serverHost}}{{user.usr_photo}}"/>
				         	 </div>
				          </a>
				     </div>
				     <div class="own-box-tit-1">{{user.usr_display_bil}}</div>
				     <div class="own-box-tit-5">{{user.usg_display_bil}} {{user.ugr_display_bil != 'Unspecified'?user.ugr_display_bil:''}}</div>
				</div>     
			</div>
			
			<div class="list-pic-4-bg"></div>
		</div> <!-- list-pic-3 End -->
			
		<div class="panel-list-cont-12">
			<div class="panel-title-8">{{data.res.res_title}}</div>
			
			<div class="panel-title-8-info">
			     <div class="panel-title-8-arrow">
			     	<span class="arrow-top"><i></i></span>
			     </div>
			     <div class="panel-title-8-cont clearfix">
			          <div class="panel-title-8-left">
			          	 <span translate="mod_join"></span>
			          </div> 
			          <div class="panel-title-8-right">
				          <span>{{data.exam_total}}</span>
				          <span translate="mod_people"></span>
				      </div> 
			     </div>
			</div>
			
			<div class="panel-title-6 panel-title-7">
				<div class="panel-add-08 icon-kaoshi-title">
					<span class="panel-num-2">{{data.topic_total}}</span>
					<span translate="mod_topic_total"></span>
				</div>
			</div>
			<div class="panel-title-6 panel-title-6-no panel-title-7">
				<div class="panel-add-08 icon-kaoshi-exam">
					<span class="panel-num-2">{{data.mod_max_score}}</span>
					<span translate="mod_total_score"></span>
				</div>
			</div>
			<div class="panel-title-6 panel-title-6-no panel-title-7">
				<div class="panel-add-08 icon-kaoshi-jige">
					<em class="panel-num-2">&nbsp;&nbsp;({{data.mod_pass_score}}%)</em>
					<span translate="mod_pass_score"></span>
					
					<span class="panel-num-2">{{data.mod_pass_score*data.mod_max_score/100}}</span>
					(<span translate="mod_pass_rates"></span>)
				</div>
			</div>
			<div class="panel-title-6 panel-title-6-no panel-title-7">
				<div class="panel-add-08 icon-kaoshi-cishu">
					<span class="panel-num-2" ng-if="data.mod_max_usr_attempt==0">{{'mod_unlimit' | translate}}</span>
					<span class="panel-num-2" ng-if="data.mod_max_usr_attempt>0">{{data.mod_max_usr_attempt}}</span>
					<span translate="mod_test_times"></span>
				</div>
			</div>
			<div class="panel-title-6 panel-title-6-no panel-title-7">
				<div class="panel-add-08 icon-kaoshi-answers" >
					<span class="panel-num-2"  ng-if="duration =='00:-1:00'">{{'lab_unlimited_time' | translate}}</span>
					 <span class="panel-num-2" ng-if="duration !='00:-1:00'">{{duration}}</span>
					<span translate="mod_time_limit"></span>
				</div>
			</div>
			
			<a class="panel-box-btn-01" href="javascript:;" ng-click="start()" translate="mod_start"></a>
		</div>
	</section> <!-- content End -->
</div> <!-- wrap End -->

</body>
</html>