<!doctype html>
<html ng-app="group">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport"  id="viewport" />
<title translate="cwn_title"></title>
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />


<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../js/jquery.load.js"></script>
<script type="text/javascript" src="../../js/controllers/GroupController.js"></script>
<script type="text/javascript" src="../../lib/common.js"></script>
</head>
<body ng-cloak class="ng-cloak" ng-controller="findController">
<alert ng-repeat="alert in alerts" ngCloak type="{{alert.type}}" close="alert.close()">
{{alert.msg | translate}}
</alert> 
<div class="wrap" id="wizwrap">
<header class="header mm-background">
    <a class="header-back" href="javascript:back();" title="back"></a>
    <span class="header-title" translate="group_find"><!--发现群组--></span>
    <a class="header-sosuo-er" href="{{{url:'../search/search.html'} | appUrl}}" title="search"></a>
</header> <!-- header End -->
<wzm-docker rp="../../"></wzm-docker>
<section class="content">
<!-- <a class="panel-sou" href="{{{url:'../search/search.html'} | appUrl}}" title="search"><span class="sou-icon" translate="btn_search"></span>搜索</a> -->

<div class="cont-info" style="margin:0;">
    <div class="cont-info-tuwen">
        <div class="tuwen-list-2 clearfix" forward=" group.enc_s_grp_id | groupUrl"  ng-repeat="group in findList.items">
        <a class="tuwen-list-2-pic pic-user-{{group.goupMemberList.length}} " href="javascript:;" forward=" group.enc_s_grp_id | groupUrl" title="">
            <img id="user_photo_{{groupMember.user.usr_ent_id}}" class="{{group.goupMemberList.length == 1 ? 'pic-user-w' : ''}}" ng-repeat="groupMember in group.goupMemberList" ng-src="{{serverHost}}{{groupMember.user.usr_photo}}" alt=""/>
        </a>
  
        <div class="tuwen-list-2-box" style="padding:0 20px 10px 0;"> 
            <div class="tuwen-list-2-tit-1">
                <a href="javascript:;" class="tuwen-list-2-user" title="" ng-bind="group.s_grp_title"></a>
            </div>
            <div class="list-tool-4">
                 <span id="tm_{{group.s_grp_id}}" class="list-tool-1-yuan" ng-bind="group.member_total"></span>
                 <span id="gm_{{group.s_grp_id}}" class="list-tool-1-xinxi" ng-bind="group.message_total"></span>
                 <span class="list-tool-1-text" ng-bind="group.s_grp_create_datetime | toDate"></span>
            </div>
            <span class="tuwen-list-2-jiantou"></span>
        </div>
    </div>
    </div>
</div>
<div loader="findList"></div>
</section> <!-- content End -->
</div> <!-- wrap End -->

</body>
</html>