/*= wizbank  CSS =========================================================
stylesheet type				  :List View
suffix								   :lstview
skin type						  : cw (cyberwisdom)
stylesheet name			   : lstview.css	
version								: wizBank 3.1
=======================================================================*/

a.wbRowHeadBarLink:hover{
	color: #0066FF;
	font: bold 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
	vertical-align: top;
}

a.wbRowHeadBarSorLink, a.wbRowHeadBarSorLink:hover {
	color: #000000;
	font: bold 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
	vertical-align: top;
}

a.wbRowHeadBarSorSLink, a.wbRowHeadBarSorSLink:hover {
	color: #F0DCDC;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
	vertical-align: top;
}

a.wbRowText:hover{
	color: #3366FF;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbRowCountFrm{
	background-color: #F0DCDC;
	border: 0px none;
	color: #761113;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbRowDescText, .wbRowSText, a.wbRowText, .wbRowDescText, .wbRowText {
	color: #000000;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbRowHeadBarBg{
	background-color: #fcfcfc;
	height: 20px;
}

.wbRowHeadBarSText, .wbRowHeadBarSLink, a.wbRowHeadBarSLink, a.wbRowHeadBarSLink:hover {
	color: #000000;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
	vertical-align: top;
}

.wbRowHeadBarText, a.wbRowHeadBarLink {
	color: #000000;
	font: bold 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
	vertical-align: top;
}

.wbRowHeadSelBarBg{
	background-color: #EEEEEE;
	height: 24px;
}

.wbRowHeadSelBarText{
	color: #000000;
	font: bold 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbRowRefText{
	color: #000000;
	font: italic 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbRowRefText{
	color: #992121;
	font: italic 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbRowsEven{
	background: #fcfcfc;
}

.wbRowsHL{
	background: #C68F8F;
	border-bottom: 1px;
	border-bottom-color: #992121;
	border-bottom-style: solid;
	border-top-color: #F0DCDC;
	border-top-style: solid;
	border-top-width: 1px;
}

.wbRowsOdd, .wbRowRefBg {
	background: #fcfcfc;
}

.wbRowTextBold{
	color: #000000;
	font: bold 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbRowTextIt{
	color: #000000;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
	font-style: italic;
}
