/*= wizbank  CSS =========================================================
stylesheet type				  :Navigation Center
suffix								   :navctr
skin type						  : cw (cyberwisdom)
stylesheet name			   : navctr.css	
version								: wizBank 3.1
=======================================================================*/

.wbNavBg{
	background-color: #B0DAF4;
	scrollbar-3dlight-color: #F5FAFE;
	scrollbar-arrow-color: #000000;
	scrollbar-base-color: #A8D6E6;
	scrollbar-darkshadow-color: #46A8CB;
	scrollbar-face-color: #A8D6E6;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #46A8CB;
	scrollbar-track-color: #A8D6E6;
}

.wbNavHeadText, a.wbNavLink,a.wbNavLink:hover,a.wbNavLink:visited,a.wbNavLink:active {
	color: #000000;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbNavTitleText{
	color: #000000;
	font: bold 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}
