@charset "utf-8";
/* 公共样式设置 */
body{ font:12px/18px "Microsoft YaHei","微软雅黑",arial,Verdana,tahoma,Lucida,Helvetica,sans-serif; color:#333; letter-spacing:1px;}
html,body,div,p,span,form,iframe,blockquote,table,td,th,input,textarea,button,label,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,dt,th{ font-size:100%; font-weight:normal;}
ul,ol,dl{ list-style-type:none;}
img{ border:0;}
em,i,dfn,cite,strong,small{ font-style:normal;} 
fieldset,img,button,input,select,option{ border:0; vertical-align:middle; font:12px/18px Verdana,tahoma,Lucida,arial,Helvetica,sans-serif;}
table{ border-collapse:collapse; border-spacing:0;}

/* color */
a:link,a:visited{ text-decoration:none;}     a:hover,a:focus{ opacity:0.7; text-decoration:none;}

/* public.omission */                   
.margin-left15{ margin-left:15px;}             .margin-right10{ margin-right:10px;}            .margin-right15{ margin-right:15px;}          
.margin-top10{ margin-top:10px;}               .margin-top15{ margin-top:15px;}                .margin-bottom10{ margin-bottom:10px;}        
.margin-bottom15{ margin-bottom:15px;}         .margin-bottom25{ margin-bottom:25px;}          .padding-left0{ padding-left:0;}              
.padding-right0{ padding-right:0;}             .align-bottom{ vertical-align:bottom;}          .font-size16{ font-size:16px;}                
.font-size18{ font-size:18px;}                 .margin-left35{ margin-left:35px;}              .font-size38{ font-size:38px;}
.margin-top20{ margin-top:20px;}               .margin-top30{ margin-top:30px;}                .margin-right30{ margin-right:30px;}
.margin-right40{ margin-right:40px;}           .margin-left10{ margin-left:10px;}
  
/* upper */
.upper{ width:100%; height:120px; background:#01aef0;}
.upper-info{ width:1000px; min-width:1000px; height:120px; margin:0 auto; overflow:hidden;}
.upper-tit{ float:left; padding:30px 0 0 0px; font-size:24px; color:#fff; width:600px;}
.upper-tool{ float:right; padding:30px 30px 0 0;}
.upper-btn{ padding:5px 20px 8px 20px; font-size:18px; color:#fff;}
.upper-blue{ background:#00719b;}            .upper-orange{ background:#feb900;}

/* area */
.area{ width:100%; padding-top:22px; background:#ebeff2;}
.area-info{ width:1000px; min-width:1000px; margin:0 auto;}

/* left */
.left{ float:right; width:715px; min-height:600px; padding:30px 20px 30px 30px; overflow:hidden; background:#fff;}
.list{ margin-bottom:35px; padding-left:20px; font-size:14px;}
.list dt{ float:left; width:20px; margin-left:-20px; margin-top:6px;}
.list dt i.cur{ color:#f00;}
.list dd{ float:left; width:610px;}
.list-tit{ margin-bottom:10px; color:#333;}
.list-tit span{ margin:0 3px; color:#00aeef;}
.list-info{ min-height:33px; line-height:33px;}
.list-info label,.dcmess label{ font-weight:normal;}
.list-info .xsval{ margin:-4px 0 0 0;}
.list-exam dt{ margin-left:0;}
.list-exam dd{ margin-top:10px;}

/* right */
.right{ float:left; width:254px;}
.user{ padding-left:82px; margin-bottom:25px; overflow:hidden; background:#fff;}
.user .user-pic{ float:left; width:82px; height:82px; margin-left:-95px;}
.user .user-pic img{ display:block; width:82px; height:82px;}

/* xyd-user */
.xyd-user{ padding:15px 15px 15px 15px;}
.xyd-user p{ line-height:18px; margin-bottom:5px;}
.xyd-user-box{ padding:5px 0 5px 80px; background:#fff;}
.xyd-user-box .wzb-user68{ float:left; width:58px; height:58px; margin-left:-72px;}
.xyd-user-content p{ margin:0 0 0 0;font-size:12px;}
.xyd-user-content p span{color:#999;}

/* wzb-user */
.wzb-user68{ width:58px; height:58px; position:relative; overflow:hidden;}
.wzb-user68 .wzb-pic{ display:block; width:58px; height:58px; border:none;}
.wzb-user82{ width:82px; height:82px; position:relative; overflow:hidden;}
.wzb-user82 .wzb-pic{ display:block; width:82px; height:82px; border:none;}
.wzb-user div{ position:absolute; z-index:100; background-color:#00aeef; width:60px; height:60px; filter:alpha(opacity=20); opacity:0.2; cursor:pointer; -moz-border-radius:100px; -webkit-border-radius:100px; border-radius:100px;}
.wzb-user p{ display:none; left:0; top:20px; width:100%; z-index:200; position:absolute; color:white; font-family:"Microsoft YaHei","微软雅黑"; text-align:center; cursor:pointer;}
.wzb-user .cornerTL{ left:-63px; top:-63px;}
.wzb-user .cornerTR{ right:-63px; top:-63px;}
.wzb-user .cornerBL{ left:-63px; bottom:-63px;}
.wzb-user .cornerBR{ right:-63px; bottom:-63px;}

.user-msg{ float:left; width:159px; margin-left:10px; display:inline;}
.user-msg p{ line-height:18px; margin-bottom:5px;}
.user-size{ font-size:22px; color:#f00;}

.pick-tit{ height:33px; line-height:33px; margin-top:15px; padding-left:10px; font-size:16px; color:#fff; background:#00adef;}
.pick-box{ padding:18px 0 3px 13px; background:#fff;}
.pick-box a{ display:inline-block; padding:0 3px; line-height:25px; margin:0 14px 18px 0; text-align:center; font-size:14px; color:#fff;}
.redcolor{ background:#f60909;}      .yellowcolor{ background:#feb900;}       .graycolor{ background:#ccc;}  

.pick-info{ padding:5px 0 5px 0;background: #fff;border-bottom:1px dashed #ccc;}
.pick-mess{ float:left; text-align:center;}
.pick_mess_ch{ float:left; text-align:center; width:33.3%}
.pick_mess_gb{ float:left; text-align:center; width:33.3%}
.pick_mess_en{ float:left; text-align:center; width:50%}
.marginlr{ margin:0 42px 0 42px; display:inline;}
.pick-info span{ display:inline-block;  text-align:center; font-size:14px;margin:5px 0 5px 10px;}
.pick-info font{color:#f00; font-size:18px;float: right;margin-right: 40px;margin-top: 5px;}

.pick-desc{ padding:10px 0 10px 10px; background:#fff;}
.pick-desc a{ color:#01aef0;}
.redtag{ font-size:20px; color:#f60909;}        .graytag{ font-size:20px; color:#999999;} 

.area-page{ padding-top:100px; text-align:center;}
.area-page a{ margin-right:20px; padding:5px 15px; font-size:14px; color:#fff; background:#01aef0;}

.pick-area{ padding:0px 0 3px 0px; background:#fff;}
.pick-left{ float:left;   cursor:pointer;}
.pick-left i,.pick-right i{ font-size:26px;height:80px;padding:25px 7px 0px 5px;  color:#00aeef;}
.pick-right{ float:right;  cursor:pointer;}
.pick-cont{ float:left; width:208px; overflow:hidden;}
.pick-mod{ width:208px;margin-top: 5px;}
.pick-cont .pick-mess{ padding:5px 10px; margin:5px 0 0 0; display:inline; font-size:14px; color:#999;}
.pick-cont .pick-cur{ font-weight:bold; color:#f00;}

.mt_head{width:33.3%;float:left;}

.area_page {padding-top: 100px;text-align: center;}
.area_page a {margin-right: 20px;padding: 5px 15px;font-size: 14px;color: #fff;font-family: "Microsoft YaHei","微软雅黑";background: #01aef0;}
.margin-left14{margin-left:14px}
.margin-left3{margin-left:3px}
.pick-mess-new{ float:left; text-align:left;width:100%;margin-left:20px;}
.pick-desc p a span {margin:5px 0 5px 12px;}
#total_que_value,#total_score_value {font-size:18px;}
.pick-mod .pick-mess p{margin:0 0 -7px 0;}
.pick-mod .pick-mess:hover{border:1px solid #e7e7e7;}