<!doctype html>
<html  ng-app="know">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport"  id="viewport" />
<title translate="cwn_title"></title>
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />

<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../js/jquery.load.js"></script>
<script type="text/javascript" src="../../js/controllers/KnowController.js"></script>
<script type="text/javascript" src="../../lib/common.js"></script>
</head>
<body ng-cloak class="ng-cloak" ng-controller="allController">
<alert ng-repeat="alert in alerts" ngCloak type="{{alert.type}}" close="alert.close()">
{{alert.msg | translate}}
</alert> 
<div class="wrap" id="wizwrap">
<header class="header mm-background">
    <a class="header-back" href="javascript:back();" title="back"></a>
    <span class="header-title">{{pageTitle | translate}}</span>
    <a class="header-sort" href="javascript:;" ng-click="toggleSelection();" title="cat"></a>
</header> <!-- header End -->
<wzm-docker rp="../../"></wzm-docker>

<section class="content-2" id="main">

<div style="display:none" id="que_selectioin">
	<div>
		<!-- <div class="header-guide-title">{{'cos_app_status'|translate}}</div> -->
		<div class="header-guide-info">
			<a ng-click="selectQueType(key)" ng-repeat="(key,val) in questionTypes"  href="javascript:void(0)" ng-class="{'select':key == selectedQueType}">{{val.label | translate}}</a>
		</div>
	</div>
	
	<div class="header-guide-box">          
	      <div class="header-guide-title" translate="know_ask_que_cat"><!--问题分类--></div>
	      <question-catalog show-all-text="true" select-callback="selectCatalogCallback"></question-catalog>
	</div>
</div>
<div class="panel-list-box" style="margin-top:0px;">
    <div class="panel" style="margin-top:0px;">
        <div class="tuwen-list-4">
            <div class="panel-title-21-box" ng-repeat="know in questionList.items">
		          <a forward=" know | knowUrl ">
		          <div class="panel-title-21" ng-bind="know.que_title"></div>
		          <div class="box-num-cont-2">
		            <span class="{{know.typeInfo.cla}}">{{know.typeInfo.label | translate}}</span>
		            <span class="wenda-list-info-4" ng-bind="know.que_create_timestamp | toDate"></span>
		          </div>
		          </a>
	        </div>
        </div>
    </div> <!-- panel End -->
    <div loader="questionList"></div>
</div>    
</section>
</div> <!-- wrap End -->

</body>
</html>