<!doctype html>
<html ng-app="know">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport"  id="viewport" />
<title translate="cwn_title"></title>
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />


<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../js/jquery.load.js"></script>
<script type="text/javascript" src="../../js/controllers/KnowController.js"></script>
<script type="text/javascript" src="../../lib/common.js"></script>
<script type="text/javascript">
	var fileIndex = 1;
	var imageTpl = '<div class="rewiew-tool"><img class="rewiew-tool-photo" id="{file}{index}" src="../../images/wendang.jpg" alt=""/><span class="rewiew-tool-delete" onclick="deleteFile(this, \'{id}\')">x</span></div>';
	var token = null;
	if(window.localStorage){
	     token = window.localStorage.getItem("token") || window.sessionStorage.getItem("token");
	}
	$(function(){
		$.ajax({
	 		url : serverHost + '/app/upload/KnowQuestion/noMaster',
	     	type : "GET",
	       	dataType : 'jsonp',
	     	async : true,
	       	jsonp : 'callback',
	       	data : {
	          	token : token,
	          	developer : 'mobile'
	      	},
	        beforeSend : function(request) {
	    		request.setRequestHeader("Accept", "application/javascript");
	      	},
	       	success : function(data){
	          	var result = $.parseJSON(data);
	          	var mtfs = result.mtfList;
	          	if(mtfs && mtfs.length > 0){
	               	$.each(mtfs, function(i,val){
	                  	loadFile(val, result.path);
	              	});
	           	}
	     	}
	 	});
		
		$.ajax({
	 		url : serverHost + '/app/upload/Know/noMaster',
	     	type : "GET",
	       	dataType : 'jsonp',
	     	async : true,
	       	jsonp : 'callback',
	       	data : {
	          	token : token,
	          	developer : 'mobile'
	      	},
	        beforeSend : function(request) {
	    		request.setRequestHeader("Accept", "application/javascript");
	      	},
	       	success : function(data){
	          	var result = $.parseJSON(data);
	          	var mtfs = result.mtfList;
	          	if(mtfs && mtfs.length > 0){
	               	$.each(mtfs, function(i,val){
	                  	loadFile(val, result.path,"file_ans");
	              	});
	           	}
	     	}
	 	});
	});
</script>
</head>
<body ng-cloak class="ng-cloak" ng-controller="detailController">
<alert ng-repeat="alert in alerts" ngCloak type="{{alert.type}}" close="alert.close()">
{{alert.msg | translate}}
</alert> 
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">warning!</h3>
        </div>
        <div class="modal-body">
           {{modal_text | translate}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="modalOk()">OK</button>
            <button class="btn btn-warning" ng-click="modalCancel()">Cancel</button>
        </div>
</script>
<div class="wrap" id="wizwrap" ng-show="show.detail">
<header class="header mm-background">
    <a class="header-back" href="javascript:back();" title="back"></a>
    <span class="header-title" translate="know_detail"><!--问题详情--></span>
    <a ng-if="loginUserId == knowDetail.regUser.usr_ent_id && knowDetail.que_type != 'SOLVED'" class="header-delete header-pop" href="javascript:;" ng-click="deleteTip();" title="delete"></a>
    <a ng-if="loginUserId == knowDetail.regUser.usr_ent_id && knowDetail.que_type != 'SOLVED'" class="header-shuxie" href="javascript:;" ng-click="showPage('content')" title="edit"></a>
    
    <div id="removeTip" class="header-tip" style="display:none;">
         <div class="header-tip-info" translate="know_tip_remove"><!--确认要删除？--></div>
         <div class="header-tip-form">
              <a class="header-tip-queding" href="javascript:;" ng-click="deleteKnow()" translate="btn_sure"></a>
              <a class="header-tip-quxiao" href="javascript:;" ng-click="deleteTip()" translate="btn_cancel"></a>
         </div>
    </div>
    <div id="success" class="header-tip" style="display:none;">
         <div class="header-tip-info">
            <img src="../../images/proper.png" alt=""/>
            <span translate="know_tip_content_success"></span><!--提交成功-->
        </div>
    </div>
</header> <!-- header End -->
<div class="header-overlay" style="z-index: 205;"></div>

<section class="content">
<div class="wenda-list">
     <h3 class="wenda-list-tit-1" ng-bind="knowDetail.que_title"></h3>
     <p class="wenda-list-info-2">
      <span translate="know_from"></span>：<!--来自-->
      <a href="javascript:;" forward="knowDetail.regUser.usr_ent_id | personUrl"  title="">
        <span class="mcolor-font-size" ng-bind="knowDetail.regUser.usr_display_bil"></span>
      </a> 
      <em class="wenda-list-info-space" ng-bind="knowDetail.que_create_timestamp | toDate"></em> 
      <span ng-if="knowDetail.que_bounty != 0"><span translate="know_bounty"></span><!--悬赏积分-->：<span ng-bind="knowDetail.que_bounty"></span></span>
     </p>
     <p class="wenda-list-info-2">
      <span translate="know_specify_users"></span>：<!--指定回答-->
      <a href="javascript:;" forward="u.usr_ent_id | personUrl" ng-repeat="u in specifyUsers">
        <span class="mcolor-font-size" ng-bind="u.usr_display_bil"></span>
        <span ng-if="!$last"> &nbsp;|&nbsp; </span>
      </a>
     </p>
     <p class="wenda-list-info-3" ng-if="knowDetail.que_content">
      <span class="color-gray999"><span translate="know_que_supply"></span><!--问题补充-->：</span>
      <span ng-bind="knowDetail.que_content"></span>
     </p>
     <div class="tuwen-list-2-tit-3" ng-if="knowDetail.fileList && knowDetail.fileList.length>0" style="padding:4px 0;"> <!-- 图片显示 -->
		<a  ng-repeat="file in knowDetail.fileList" ng-href="javascript:openOtherSiteUrl('{{serverHost}}{{file.mtf_url + '/' + file.mtf_file_rename}}');" style="margin: 4px 4px 0 0;display: inline-block;">
			<img ng-if="file.mtf_type == 'Img'" width="122" height="85" ng-src="{{serverHost}}{{file.mtf_url + '/' + file.mtf_file_rename}}" alt=""/>
		</a>
	</div>
      <p ng-if="!bestAnswer"><a class="wenda-btn-1" href="javascript:;" title="my anwser" ng-click="showPage('writeAnwser')" translate="know_im_anwser"></a></p>
</div>

<div class="panel" ng-if="bestAnswer">
  <div class="panel-title-13">
    <a class="" href="javascript:;" title="" translate="know_best_anwser"><!--最佳答案--></a>
  </div> 
  <div class="wenda-cont">
  <div class="pl-roll-area">
    <div class="pl-roll clearfix">
      <a href="javascript:;" forward="bestAnswer.regUser.usr_ent_id | personUrl" class="pl-roll-pic" style="position: relative;" title="">
   		<span class="wenda-zhiding" ng-if="bestAnswer.is_specify"></span>
       	<img id="user_photo_{{bestAnswer.regUser.usr_ent_id}}" ng-src="{{serverHost}}{{bestAnswer.regUser.usr_photo}}"/>
      </a>    
      <div class="pl-roll-box">
         <div class="pl-roll-desc">
              <div class="pl-roll-you">
                   <a class="list-tool-1-laud" href="javascript:;" title="" sns="bestAnswer.ansLike"></a>
              </div>
              <a href="javascript:;" forward="bestAnswer.regUser.usr_ent_id | personUrl" class="pl-roll-user" title="" ng-bind="bestAnswer.regUser.usr_display_bil"></a>
         </div>
         <p class="pl-roll-time" ng-bind="bestAnswer.ans_create_timestamp | toDate : 'yyyy-MM-dd HH:mm'"></p>
         <div class="pl-roll-cont" ng-bind="bestAnswer.ans_content"></div>
         
         <div class="tuwen-list-2-tit-3" ng-if="bestAnswer.fileList && bestAnswer.fileList.length>0" style="padding:4px 0;"> <!-- 图片显示 -->
			<a  ng-repeat="file in bestAnswer.fileList" ng-href="javascript:openOtherSiteUrl('{{serverHost}}{{file.mtf_url + '/' + file.mtf_file_rename}}');" style="margin: 4px 4px 0 0;display: inline-block;">
				<img ng-if="file.mtf_type == 'Img'" width="122" height="85" ng-src="{{serverHost}}{{file.mtf_url + '/' + file.mtf_file_rename}}" alt=""/>
			</a>
		</div>
		
         <div class="pl-roll-tool" ng-if="knowDetail.que_type!='FAQ'">
              <div class="pl-roll-bar">
                  <span translate="know_join_msg1"></span><!--已有-->
                  <span class="pl-roll-size" ng-bind="bestAnswer.ans_vote_total?bestAnswer.ans_vote_total:0"></span>
                  <span translate="know_join_msg2"></span><!--人参与评价-->
                  <span class="pl-roll-size" translate="know_you_feel"><!--你觉得呢--></span>
              </div>
              
              <div class="pl-roll-bear clearfix">
                   <a class="pl-roll-ambit pl-roll-margin" href="javascript:;" title="">
                      <span class="chart green" style="width:80px; height:80px;" easypiechart options="optionGood" percent="good_rate">
                            <span class="percent" ng-bind="good_rate | percentFormat"></span>
                      </span>
                      <span class="pl-roll-select" ng-click="changeAnsVote('true')" translate="know_good"><!--好--></span>
                   </a> 
                   
                   <a class="pl-roll-ambit" href="javascript:;" title="">
                      <span class="chart blue" style="width:80px; height:80px;" easypiechart options="optionBad" percent="not_good_rate" >
                            <span class="percent" ng-bind="not_good_rate | percentFormat"></span>
                      </span>
                      <span class="pl-roll-select" ng-click="changeAnsVote('false')" translate="know_bad"><!--不好--></span>
                   </a> 
              </div>
         </div>
   </div>
   </div>
</div>
</div>

</div> <!-- panel End -->

<div class="panel" ng-if="knowDetail.que_type != 'FAQ' && relAnswers && relAnswers.items.length > 0">
  <div class="panel-title-4">
    <a href="javascript:;" title=""  ng-click="showPage('answers')">
      <span class="panel-num-1" ng-bind="relAnswers.totalRecord"></span>
      <span translate="know_rel_ans"></span><!--相关回答-->
    </a>
  </div> 
  <div class="wenda-cont">
  <div class="pl-roll-area">
  <div class="pl-roll clearfix" ng-repeat="relAnswer in relAnswers.items">
      <a href="javascript:;" forward="relAnswer.regUser.usr_ent_id | personUrl" class="pl-roll-pic" title="" style="position:relative;">
          <span class="wenda-zhiding" ng-if="relAnswer.is_specify"></span>
          <img id="user_photo_{{relAnswer.regUser.usr_ent_id}}" ng-src="{{serverHost}}{{relAnswer.regUser.usr_photo}}"/>
      </a>
      <div class="pl-roll-box">
         <div class="pl-roll-desc">
         		<!-- 
               <div class="pl-roll-you">
                  <a class="list-tool-1-best" style="margin: 0 12px 0 5px;" href="javascript:;" ng-click="setBestAnswer(relAnswer)" ng-if="knowDetail.que_type == 'UNSOLVED' && loginUserId == knowDetail.regUser.usr_ent_id " title="" translate="know_set_best_anwser">最佳答案</a> &nbsp;
                  <a class="list-tool-1-laud" href="javascript:;" title="" sns="relAnswer.ansLike"></a>
                  <a ng-if="loginUserId == knowDetail.regUser.usr_ent_id" class="list-tool-1-close" style="margin:3px 0px 0px 5px;" href="javascript:;" ng-click="deleteAns(relAnswer,relAnswer.regUser.usr_ent_id,this)">删除  {{'btn_delete' | translate}}</a>
              </div>
               -->
              <a href="javascript:;" forward="relAnswer.regUser.usr_ent_id | personUrl" class="pl-roll-user" title="" ng-bind="relAnswer.regUser.usr_display_bil"></a> 
         </div>
         <p class="pl-roll-time" ng-bind="relAnswer.ans_create_timestamp | toDate:'yyyy-MM-dd HH:mm'"></p>
         <div class="pl-roll-cont" ng-bind="relAnswer.ans_content"></div>
         <div class="tuwen-list-2-tit-3" ng-if="relAnswer.fileList && relAnswer.fileList.length>0" style="padding:4px 0;"> <!-- 图片显示 -->
			<a  ng-repeat="file in relAnswer.fileList" ng-href="javascript:openOtherSiteUrl('{{serverHost}}{{file.mtf_url + '/' + file.mtf_file_rename}}');" style="margin: 4px 4px 0 0;display: inline-block;">
				<img ng-if="file.mtf_type == 'Img'" width="122" height="85" ng-src="{{serverHost}}{{file.mtf_url + '/' + file.mtf_file_rename}}" alt=""/>
			</a>
		</div>
        
    </div>
  </div>
  </div>
</div>
</div> <!-- panel End -->

<div class="panel" ng-if="relQuestions && relQuestions.items.length > 0">
<div class="panel-title-4">
    <a class="" href="javascript:;"  ng-click="showPage('questions')" title="">
        <span class="panel-num-1" ng-bind="relQuestions.totalRecord"></span>
        <span translate="know_rel_que"></span><!--相关问题-->
    </a>
</div> 

<ul class="panel-list-1-8">
     <li ng-repeat="relQuestion in relQuestions.items" forward=" relQuestion | knowUrl ">
          <div class="sub-area-4 clearfix">
              <a class="sub-info-5" href="javascript:;" title="" ng-bind="relQuestion.que_title">                
              </a>               
          </div>  
     </li>
</ul>

</div> <!-- panel End -->

</section> <!-- content End -->
</div> <!-- wrap End -->

<div class="wrap"  ng-show="show.answers">
    <header class="header mm-background">
        <a class="header-back" href="javascript:;"  ng-click="showPage('detail')" title="back"></a>
        <span class="header-title"  translate="know_rel_ans"><!--相关回答--></span>
    </header> <!-- header End -->
    <section class="content">
        <div class="panel-list-box" style="margin:0;">
        <div class="pl-roll-area">
            <div class="cont-info-pl">
                <div class="pl-roll clearfix" ng-repeat=" anwser in answers.items">
                    <a href="javascript:;" forward="anwser.regUser.usr_ent_id | personUrl" class="pl-roll-pic" style="position: relative;" title="">
                        <span class="wenda-zhiding" ng-if="anwser.is_specify"></span>
                        <img id="user_photo_{{anwser.regUser.usr_ent_id}}" ng-src="{{serverHost}}{{anwser.regUser.usr_photo}}"/>
                    </a>    
                    <div class="pl-roll-box">
                        <div class="pl-roll-desc">
                            <div class="pl-roll-you">
                                <a class="list-tool-1-best" href="javascript:;" ng-if="knowDetail.que_type == 'UNSOLVED' && loginUserId == knowDetail.regUser.usr_ent_id" ng-click="setBestAnswer(anwser)" title="" translate="know_set_best_anwser"><!--最佳答案--></a> &nbsp;
                                <a class="list-tool-1-laud" href="javascript:;"  sns="anwser.ansLike" title="" ></a>
                            	<a ng-if="loginUserId == knowDetail.regUser.usr_ent_id" class="list-tool-1-close" style="margin:3px 0px 0px 5px;" href="javascript:;" ng-click="deleteAns(anwser,anwser.regUser.usr_ent_id,this)"><!-- 删除  {{'btn_delete' | translate}}--></a>
                            </div>
                             <a href="javascript:;" forward="anwser.regUser.usr_ent_id | personUrl"  class="pl-roll-user" title="" ng-bind="anwser.regUser.usr_display_bil"></a>
                        </div>
                        <p class="pl-roll-time" ng-bind="anwser.ans_create_timestamp | toDate:'yyyy-MM-dd HH:mm'"></p>
                        <div class="pl-roll-cont" ng-bind="anwser.ans_content"></div>                                             
                    </div>
                </div>
            </div>
          </div>  
        </div> <!-- panel End -->
        <div loader="answers"></div>
    </section> <!-- content End -->
</div> <!-- wrap End -->
<div class="wrap"  ng-show="show.questions">
    <header class="header mm-background">
        <a class="header-back" href="javascript:;"  ng-click="showPage('detail')" title="back"></a>
        <span class="header-title" translate="know_rel_que"><!--相关问题--></span>
    </header> <!-- header End -->
    <section class="content">
    <div class="panel-list-box" style="margin:0;">
    <ul class="panel-list-1-9">
            <li ng-repeat="question in questions.items" forward=" question | knowUrl ">
                <div class="sub-area-4 clearfix">
                    <a class="sub-info-5" href="javascript:;" title="" ng-bind="question.que_title"></a>
                </div>  
            </li>
      </ul>    
    </div>      
    <div loader="questions"></div>
    </section>
</div>

<div class="wrap" ng-show="show.content">
<header class="header mm-background">
    <a class="header-back" href="javascript:;" ng-click="showPage('detail')" title="back"></a>
    <span class="header-title" translate="know_que_supply"><!--补充问题--></span>
    <a class="header-info" href="javascript:;" ng-click="contentKnow();" title="publish" translate="btn_publish"><!--发布--></a>
</header> <!-- header End -->

<section class="content">	<!-- 问题追加 -->
<div class="wenda-list">
     <h3 class="wenda-list-tit-1" ng-bind="knowDetail.que_title"></h3>
     <div class="cont-review-hezi">
        <textarea class="pure-form-txt-5" ng-model="content" placeholder="{{'know_input_title' | translate}}"></textarea>
     </div>
     <div class="cont-review-tool" style="padding:0px;">
          <a ng-click="checkType('Img');" ng-class="{'review-tool-pic-hover' : uploadType == 'Img' , 'review-tool-pic' : uploadType != 'Img'}" data="{{uploadType}}" href="javascript:;" title="image"></a>
          <!-- <a ng-click="checkType('Doc');" ng-class="{'review-tool-file-hover' : uploadType == 'Doc', 'review-tool-file' : uploadType != 'Doc'}"  data="{{uploadType}}" href="javascript:;" title="file"></a> -->
          <!--<a class="review-tool-shipin" href="###" title="视频"></a>-->
     </div>
</div>
    <div  class="cont-review-info clearfix" ng-hide="uploadType == 'ALL'">
          <a class="rewiew-tool-add" onClick="document.getElementById('file').click();" href="javascript:;" title="Add image"></a>
          <input type="file" onChange="upload();"  style="visibility:hidden" id="file"/>
     </div> 

</section> <!-- content End -->
</div> <!-- wrap End -->

<div class="wrap" ng-show="show.writeAnwser">
<header class="header mm-background">
    <a class="header-back" href="javascript:;" ng-click="showPage('detail')" title="back"></a>
    <span class="header-title" translate="know_im_want_anwser"><!--我要回答--></span>
    <a class="header-info" href="javascript:;" ng-click="addAnwser();"  translate="btn_publish"><!--发布--></a>
</header> <!-- header End -->

<section class="content">	<!-- 填写答案 -->
<div class="wenda-list">
     <h3 class="wenda-list-tit-1" ng-bind="knowDetail.que_title"></h3>
     <div class="cont-review-hezi"><textarea class="pure-form-txt-5" ng-model="anwser" placeholder="{{'know_input_anwser' | translate}}"></textarea></div> 
	<div class="cont-review-tool" style="padding:0px;">
     </div>
</div>
    <div  class="clearfix" style="margin: 10px 0 0 0;padding: 20px 15px;background: #fff;" id="file_ans_box" ng-hide="uploadType == 'ALL'">
          <a class="rewiew-tool-add" onClick="document.getElementById('file_ans').click();" href="javascript:;" title="Add image"></a>
          <input type="file" onChange="upload('file_ans');"  style="visibility:hidden" id="file_ans"/>
     </div> 

</section> <!-- content End -->
</div> <!-- wrap End -->
</body>
</html>