/*= wizbank  CSS =========================================================
stylesheet type				  :Calendar
suffix								   :calendar
skin type						  : cw (cyberwisdom)
stylesheet name			   : calendar.css	
version								: wizBank 3.5

=======================================================================*/
.wbCalTitleBg{
	background : #992121;
}

.wbCalTitleText{
	color : #FFFFFF;
	font : bolder 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a.wbCalSelText,a.wbCalSelText:hover,a.wbCalSelText:active,a.wbCalSelText:visited{
	color : #FFFFFF;
	font : 8pt  Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
}

.wbCalBg{
	background : #F0DCDC;
}

.wbCalWeekDay{
	background : #FFFFFF;
	color : #0000FF;
	font : 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbCalDay{
	background : #BAE5FF;
	color : #000000;
	font : 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbCalDayLink{
	color : #000000;
	font : 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbCalCurrentDay{
	background : #00A9BC;
	color : #000000;
	font : bold 8pt Arial;
}

.wbPopCalTitleText{
	color : #FFFFFF;
	font : bolder 9pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbPopCalWeekDay{
	background : #FFFFFF;
	color : #0000FF;
	font : 9pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a.wbPopCal,a.wbPopCal:hover,a.wbPopCal:active,a.wbPopCal:visited{
	font : 9pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbPopCalDay{
	color : #000000;	
}

.wbPopCalCurrentDay{
	color : #FF0000;
}

.wbPopCalNextMonthDay{
	color : gray;
	font : 9pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}
