<!doctype html>
<html ng-app="rank">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport"  id="viewport" />
<title translate="cwn_title"></title>
<link type="text/css" rel="stylesheet" href="../../css/basic.css" />
<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../js/jquery.load.js"></script>
<script type="text/javascript" src="../../js/controllers/RankController.js"></script>
<script type="text/javascript" src="../../lib/common.js"></script>
</head>
<body  ng-cloak class="ng-cloak"  ng-controller="knowledgeController">

<div class="wrap">
    <header class="header mm-background">
        <a class="header-back" href="javascript:back();" title="back"></a>
        <span class="header-title" translate="rank_knowledge_title"><!--知识排行榜--></span>
    </header>
    <!-- header End -->
    
    <wzm-docker rp="../../"></wzm-docker>
    
    <section class="content-2">
        <div class="panel-list-box" style="margin:0;">
            <tabs css="2">
                <pane title="{{ 'global_new' | translate }}">
                	<!-- pub-tabcont-2 start -->
                    <div class="panel-tabcont-2 pub-tabcont">
                        <!-- panel-list-1-11 start -->
                        <ul class="panel-list-1-11">
                            <li ng-repeat="item in latestList.items">
                                <div class="tuwen-list-1 box-frame-new" style="{{$index == 0?'border-top:0;':''}}" >
                                    <span class="{{$index == 0 ? 'box-num-1' : $index==1?'box-num-3': $index==2?'box-num-4':'box-num-2'}}" ng-bind="$index+1"></span>
                                    <a class="tuwen-list-1-box clearfix" ng-href="{{item.enc_kbi_id | kbDetailUrl : true}}" title="">
                                        <div class="tuwen-list-1-pic">
                                            <img ng-src="{{serverHost + item.imageAttachment.kba_url}}"/>
                                    		<em class="{{item.info.cla}}">{{item.info.title}}</em>
                                        </div>
                                        <div class="tuwen-list-1-tit-1"  ng-bind="item.kbi_title"></div>
                                        <p class="tuwen-list-1-tit-3">
		                                    <!-- <span class="tuwen-list-1-mright">
		                                        {{'knowledge_from' | translate}} {{item.usr_display_bil}}
		                                    </span> -->
		                                    <span ng-bind="item.kbi_publish_datetime | toDate"></span>
		                                    <!-- <em class="tuwen-list-1-tip" ng-bind="item.kbi_type | kbTypeFilter | translate"></em> -->
		                                </p>
                                    </a>
                                </div>
                            </li>
                           </ul>
                         </div>
                    <div loader="latestList"></div>
                </pane>
                <pane title="{{ 'global_hot' | translate }}">
                	<div class="panel-tabcont-2 pub-tabcont">
                        <!-- panel-list-1-11 start -->
                        <ul class="panel-list-1-11">
                            <li ng-repeat="item in hottestList.items">
                                <div class="tuwen-list-1 box-frame-new" title="" style="{{$index == 0?'border-top:0;':''}}">
                                    <span class="{{$index == 0 ? 'box-num-1' : $index==1?'box-num-3': $index==2?'box-num-4':'box-num-2'}}" ng-bind="$index+1"></span>
                                    <a class="tuwen-list-1-box clearfix" ng-href="{{item.enc_kbi_id |  kbDetailUrl : true}}" title="">
                                        <div class="tuwen-list-1-pic">
                                            <img ng-src="{{serverHost + item.imageAttachment.kba_url}}"/>
                                            <em class="{{item.info.cla}}">{{item.info.title}}</em>
                                        </div>
                                        <div class="tuwen-list-1-tit-1" ng-bind="item.kbi_title"></div>
                                        <p class="list-tool-2-dian tuwen-list-1-tit-3">
                                       		<em class="{{$index>2 ? 'box-num-cont-blue' : 'box-num-cont-orange'}}" ng-bind="item.kbi_access_count?item.kbi_access_count:0"></em>
                                       	</p>
                                    </a>
                                </div>
                            </li>
                          </ul>
                        </div>
                    <div loader="hottestList"></div>
                </pane>
                <pane title="{{ 'global_popularity' | translate }}">
                	<div class="panel-tabcont-2 pub-tabcont">
                        <!-- panel-list-1-11 start -->
                        <ul class="panel-list-1-11">
                            <li ng-repeat="item in popularityList.items">
                                <div class="tuwen-list-1 box-frame-new" title="" style="{{$index == 0?'border-top:0;':''}}">
                                    <span class="{{$index == 0 ? 'box-num-1' : $index==1?'box-num-3': $index==2?'box-num-4':'box-num-2'}}" ng-bind="$index+1"></span>
                                    <a class="tuwen-list-1-box clearfix" ng-href="{{item.enc_kbi_id |  kbDetailUrl : true}}" title="">
                                        <div class="tuwen-list-1-pic">
                                            <img ng-src="{{serverHost + item.imageAttachment.kba_url}}"/>
		                                    <em class="{{item.info.cla}}">{{item.info.title}}</em>
                                        </div>
                                        <div class="tuwen-list-1-tit-1"  ng-bind="item.kbi_title"></div>
                                        <p class="list-tool-1-good tuwen-list-1-tit-3">
                                       		<em class="{{$index>2 ? 'box-num-cont-blue' : 'box-num-cont-orange'}}" ng-bind="item.s_cnt_like_count?item.s_cnt_like_count:0"></em>
                                       	</p>
                                    </a>
                                </div>
                            </li>
                           </ul>
                         </div>
                    <div loader="popularityList"></div>
                </pane>
            </tabs>
        </div><!-- panel-list-box End -->
    </section><!-- content End -->
</div>
<!-- wrap End -->

</body>
</html>