/*= wizbank  CSS =========================================================
stylesheet type				  :Loign Page
suffix								   :login
skin type						  : cw (cyberwisdom)
stylesheet name			   : login.css	
version								: wizBank 3.5
=======================================================================*/

.wbLoginBgT{
	background: #0876B2;
}

.wbLoginFailText{
	color: #FF0000;
}

.wbLoginNotAuthBarBg{
	background-color: #00799F;
}

.wbLoginNotAuthBarText{
	color: #00799F;
	font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}
