/*= wizbank  CSS =========================================================
stylesheet type				  :List View
suffix								   :lstview
skin type						  : cw (cyberwisdom)
stylesheet name			   : lstview.css	
version								: wizBank 3.1
=======================================================================*/

a.wbRowHeadBarLink:hover, a.wbRowHeadBarSorLink:hover {
	color: #D36E02;
	font: bold 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	vertical-align: top;
}

a.wbRowHeadBarSLink:hover, a.wbRowHeadBarSorSLink:hover {
	color: #D36E02;
	font: 7pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	vertical-align: top;
}

a.wbRowHeadBarSorLink, .wbRowHeadBarText, a.wbRowHeadBarLink {
	color: #000000;
	font: bold 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	vertical-align: top;
}

a.wbRowText, .wbRowText, .wbRowDescText {
	color: #000000;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a.wbRowText:hover{
	color: #D36E02;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbRowCountFrm{
	background-color: #FFC601;
	border: 0px none;
	color: #000000;
	font: 7pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbRowHeadBarBg{
	background-color: #E49810;
	height: 20px;
}

.wbRowHeadBarSText, .wbRowHeadBarSLink, a.wbRowHeadBarSLink, a.wbRowHeadBarSorSLink {
	color: #000000;
	font: 7pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	vertical-align: top;
}

.wbRowHeadSelBarBg{
	background-color: #EEEEEE;
	height: 24px;
}

.wbRowHeadSelBarText{
	color: #000000;
	font: bold 9pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbRowRefText{
	color: #000000;
	font: italic 7pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbRowsEven, .wbRowRefBg {
	background: #FAEBA5;
}

.wbRowsHL{
	background: #FFC601;
	border-bottom: 1px;
	border-bottom-color: #D36E02;
	border-bottom-style: solid;
	border-top-color: #FAEBA5;
	border-top-style: solid;
	border-top-width: 1px;
}

.wbRowsOdd{
	background: #F5F0D8;
}

.wbRowSText, .wbRowRefText {
	color: #000000;
	font: 7pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbRowTextBold{
	color: #000000;
	font: bold 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbRowTextIt{
	color: #000000;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style: italic;
}
