/*= wizbank  CSS =========================================================
stylesheet type				:Survey View
suffix								:svyview
skin type						:cw (cyberwisdom)
stylesheet name			: svyview.css	
version							: wizBank 3.5
=======================================================================*/

.wbSVYAnswerBg{
	background: #FFFFFF;
}

.wbSVYHeadBarBg{
	background-color: #8CCAF0;
	height: 20px;
}

.wbSVYHeadBarText{
	color: #08426F;
	font: bold 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbSVYQuestionBg{
	background: #DCFAFF;
}

.wbSVYQuestionText, .wbSVYAnswerText {
	color: #00799F;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbSVYRowHeadBarSText{
	color: #08426F;
	font: 7pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}
