/** 
 
 @Name�� laydateƤ����ī��
 @Author������
 @Site��http://sentsin.com/layui/laydate
 
**/

.laydate-icon{border:1px solid #ccc; background-image:url(datePicker.gif); cursor:pointer;}

.laydate_body .laydate_bottom #laydate_hms,
.laydate_body .laydate_time{border:1px solid #ccc;}

.laydate_body .laydate_box, 
.laydate_body .laydate_ym .laydate_yms,
.laydate_body .laydate_time{box-shadow: 2px 2px 5px rgba(0,0,0,.1);}

.laydate_body .laydate_box{border-top:none; border-bottom:none; background-color:#fff; color:#00625A;}
.laydate_body .laydate_box input{background:none!important; color:#fff;}
.laydate_body .laydate_box .laydate_void{color:#00E8D7!important;}
.laydate_body .laydate_box a, .laydate_body .laydate_box a:hover{color:#78b515;}
.laydate_body .laydate_box a:hover{color:#666;}
.laydate_body .laydate_click{background-color:#99d536!important; color:#fff!important;}
.laydate_body .laydate_top{border-top:1px solid #99d536; background-color:#99d536}
.laydate_body .laydate_ym{border:1px solid #99d536; background-color:#99d536;margin-left: 5px; }
.laydate_body .laydate_ym .laydate_yms{border:1px solid #99d536; background-color:#99d536; color:#fff;}
.laydate_body .laydate_y .laydate_yms a{border-bottom:1px solid #fff;}
.laydate_body .laydate_y .laydate_yms .laydate_chdown{border-top:1px solid #fff; border-bottom:none;}
.laydate_body .laydate_choose{border-left:1px solid #99d536;}
.laydate_body .laydate_chprev{border-left:none; border-right:1px solid #99d536 ;}
.laydate_body .laydate_choose:hover, 
.laydate_body .laydate_y .laydate_yms a:hover{background-color:#78b515;}
.laydate_body .laydate_chtop cite{border-bottom-color:#fff;}
.laydate_body .laydate_chdown cite, .laydate_body .laydate_ym label{border-top-color:#fff;}
.laydate_body .laydate_chprev cite{border-right-style:solid; border-right-color:#fff;}
.laydate_body .laydate_chnext cite{border-left-style:solid; border-left-color:#fff;}
.laydate_body .laydate_table{width: 263px!important; margin: 0!important; border:1px solid #ccc; border-top:none; border-bottom:none;}
.laydate_body .laydate_table td{border-radius: 100px;border-radius: 0\0;border:none;  height:37px!important; line-height:21px!important; background-color:#fff; color:#333;}
.laydate_body .laydate_table .laydate_nothis{color:#999;}
.laydate_body .laydate_table thead{ height:21px!important; line-height:21px!important;}
.laydate_body .laydate_table thead th{}
.laydate_body .laydate_bottom{border:1px solid #ccc; border-top:none;}
.laydate_body .laydate_bottom #laydate_hms{background-color:#fff;}
.laydate_body .laydate_time{background-color:#fff;}
.laydate_body .laydate_time1{width: 226px!important; height: 152px!important;}
.laydate_body .laydate_bottom .laydate_sj{width:31px!important; border-right:1px solid #ccc; background-color:#fff;}
.laydate_body .laydate_bottom input{background-color:#fff; color:#00625A;}
.laydate_body .laydate_bottom .laydte_hsmtex{border-bottom:1px solid #ccc;}
.laydate_body .laydate_bottom .laydate_btn{width: 261px;}
.laydate_body .laydate_bottom .laydate_v{color:#999}
.laydate_body .laydate_bottom .laydate_btn a{width: 240px;color: #333;  background-color:#e3fdca;}
.laydate_body .laydate_bottom .laydate_btn a:hover{background-color: #99d536; color: #333;}

.laydate_body .laydate_m .laydate_yms span:hover,
.laydate_body .laydate_time .laydate_hmsno span:hover,
.laydate_body .laydate_y .laydate_yms ul li:hover,
.laydate_body .laydate_table td:hover{background-color: #e3fdca; color:#333;}
#laydate_clear{

	width: 87px;
	height: 25px;
    border: 1px solid transparent;
	background: #ffffff url("../../../lv.png") no-repeat 9px 1px;
	background-size: 25px;
	padding-left: 36px;
	line-height: 25px;
}
#laydate_clear:hover{
	border: 1px  solid #99d536;
	
}
#laydate_today{
	width: 87px;
	height:25px;
	display: inline-block;
	background: #ffffff url("../../../lv.png") no-repeat 9px -21px;
	background-size: 25px;
	padding-left: 36px;
    border: 1px solid transparent;
    line-height: 25px;
}
#laydate_today:hover{
	border: 1px  solid #99d536;
}

#laydate_ok{
	width: 87px;
	height: 25px;
	display: inline-block;
	background: #ffffff url("../../../lv.png") no-repeat 9px -42px;
	background-size: 25px;
	padding-left: 36px;
	border: 1px solid transparent;
	line-height: 25px;
}
#laydate_ok:hover{
	border: 1px  solid #99d536;
}
.laydate_btn a{
	line-height: 25px;
}
.laydate_body .laydate_bottom .laydate_btn a{
	font-family: ΢���ź�;
}
th{
	color: #78b515;
}
div#laydate_MM {
    margin-left: 26px;
}
/* �������?����֮�� www.lanrenzhijia.com */
