<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cwn.wizbank.persistence.KbItemCatMapper">

	<select id="getDate" resultType="java.sql.Timestamp">
		select
		<if test="_databaseId == 'ORACLE'">
			sysdate from dual
		</if>
		<if test="_databaseId == 'SQLSERVER'">
			getdate()
		</if>
		<if test="_databaseId == 'MYSQL'">
			sysdate()
		</if>
	</select>
	
	<insert id="insert" parameterType="com.cwn.wizbank.entity.KbItemCat">
    	<![CDATA[
            insert into kb_item_cat(
            		kic_kbi_id,
            		kic_kbc_id,
            		kic_create_datetime,
            		kic_create_user_id
            ) values (
            	#{kbItem.kbi_id,jdbcType=VARCHAR},
            	#{kbCatalog.kbc_id,jdbcType=VARCHAR},
            	#{kic_create_datetime,jdbcType=TIMESTAMP},
            	#{kic_create_user_id,jdbcType=VARCHAR}
            )
        ]]>
	</insert>
	
	<update id="updateKbcId" parameterType="java.util.Map">
		<![CDATA[
	        update kb_item_cat 
	        set 
				kic_kbc_id = #{new_kbc_id,jdbcType=VARCHAR}
	         where kic_kbc_id = #{old_kbc_id,jdbcType=VARCHAR}
	    ]]>
	</update>

	<delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	   	delete from kb_item_cat where
	        kic_kbi_id = #{id,jdbcType=VARCHAR}
	    ]]>
	</delete>	
</mapper>