<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cwn.wizbank.persistence.UserPasswordHistoryMapper">
	
	
	<insert id="insert" parameterType="UserPasswordHistory">
		
		insert into UserPasswordHistory
			(uph_usr_ent_id,uph_pwd,uph_update_usr_ent_id,uph_client_type,uph_create_time)
		values
			(#{uph_usr_ent_id},#{uph_pwd},#{uph_update_usr_ent_id},#{uph_client_type},#{uph_create_time})
			
	</insert>
	
	<select id="selectListByUsrEntId" parameterType="long" resultType="UserPasswordHistory">
	
		select * from UserPasswordHistory where uph_usr_ent_id = #{uph_usr_ent_id} order by uph_create_time desc
	
	</select>
	
</mapper>