<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cwn.wizbank.persistence.UserPositionCatalogMapper">
	<select id="get" parameterType="Long" resultType="UserPositionCatalog">
		select * from UserPositionCatalog where upc_id = #{upc_id}
	</select>
	<select id="getPageList" parameterType="Map" resultType="UserPositionCatalog">
		select  * from UserPositionCatalog
			where 1=1
    <if test="params.upc_id !=0  ">		 
		and upc_id= #{params.upc_id}
		 </if>
		 <if test="params.searchText != null and params.searchText !=''">
		    <bind name="searchText" value="'%' + params.searchText + '%'" />
			and ( lower(upc_title) like N'${searchText}' ) 
		  </if>
		  <if test="params.top_tcr_id != null and params.top_tcr_id !=''  ">		 
			and (upc_tcr_id in ( select tcn_child_tcr_id from tcRelation where tcn_ancestor = #{params.top_tcr_id} ) or upc_tcr_id = #{params.top_tcr_id})
		 </if>
	</select>
	<update id="update" parameterType="com.cwn.wizbank.entity.UserPositionCatalog">
		update UserPositionCatalog set upc_title = #{upc_title,jdbcType=VARCHAR}
		,upc_create_datetime = #{upc_create_datetime}
		,upc_update_datetime = #{upc_update_datetime}
		,upc_tcr_id = #{upc_tcr_id}
		,upc_desc = #{upc_desc,jdbcType=VARCHAR}
		,upc_status = #{upc_status}
		,upc_create_user_id = #{upc_create_user_id}
		,upc_update_user_id = #{upc_update_user_id}
		where upc_id = #{upc_id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete UserPositionCatalog where upc_id = #{id}
	</delete>
	<insert id="add" parameterType="com.cwn.wizbank.entity.UserPositionCatalog">
		insert into UserPositionCatalog(upc_title,upc_desc,upc_status,upc_tcr_id,upc_create_user_id,upc_update_user_id,upc_create_datetime,upc_update_datetime)
		values(#{upc_title,jdbcType=VARCHAR},#{upc_desc,jdbcType=VARCHAR},#{upc_status},#{upc_tcr_id},#{upc_create_user_id},#{upc_update_user_id},#{upc_create_datetime},#{upc_update_datetime})
	<selectKey resultType="java.lang.Long" keyProperty="upc_id" order="AFTER">
			<choose>
				<when test="_databaseId == 'ORACLE'">
					select userPositionCatalog_seq.CURRVAL AS upc_id FROM DUAL
				</when>
				<otherwise>
					select @@IDENTITY as upc_id
				</otherwise>
			</choose>
		</selectKey>
	</insert>
	<select id="list" parameterType="Map" resultType="UserPositionCatalog">
		select * from UserPositionCatalog where 1=1
		<if test="top_tcr_id != null and top_tcr_id !=''">		 
			and (upc_tcr_id in ( select tcn_child_tcr_id from tcRelation where tcn_ancestor = #{top_tcr_id} ) or upc_tcr_id = #{top_tcr_id})
		 </if>
	</select>
	<select id="getListForPositionMap" parameterType="Map" resultType="UserPositionCatalog">
		select * from UserPositionCatalog where upc_id in(select upc_id from UserPositionlrnMap,UserPosition,UserPositionCatalog where upm_upt_id=upt_id and upc_id=upt_upc_id and upm_status=1 group by upc_id)
	 <if test="top_tcr_id != null and top_tcr_id !=''">		 
			and (upc_tcr_id in ( select tcn_child_tcr_id from tcRelation where tcn_ancestor = #{top_tcr_id} ) or upc_tcr_id = #{top_tcr_id})
		 </if>
	</select>
		<delete id="batchdelete">
		delete from UserPositionCatalog where upc_id in (${ids})
	</delete>
		<select id="isExistTitle" parameterType="Map" resultType="boolean">
		select count(upc_id) from UserPositionCatalog
		where 1=1
		<if test="upc_title != null and upc_title !=''">
		 and   upc_title= N'${upc_title}' 
		  </if>
		<if test="old_id != null and old_id !=''">	 
		and upc_id != '${old_id}'
		 </if>
		  <if test="top_tcr_id != null and top_tcr_id !=''">		 
			and (upc_tcr_id in ( select tcn_child_tcr_id from tcRelation where tcn_ancestor = #{top_tcr_id} ) or upc_tcr_id = #{top_tcr_id})
		 </if>
	</select>
</mapper>