/*= wizbank  CSS =========================================================
stylesheet type				  :Home
suffix								   :Home
skin type						  : cw (cyberwisdom)
stylesheet name			   : home.css	
version								: wizBank 3.5
=======================================================================*/

a.wbHomeLeftText:hover, a.wbHomeLeftTextBold:hover {
	color: #859334;
	font: bold 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
	text-decoration: none;
}

a.wbHomeLeftTextBold,a.wbHomeLeftTextBold:active,a.wbHomeLeftTextBold:visited, a.wbHomeLeftText,a.wbHomeLeftText:active,a.wbHomeLeftText:visited, .wbHomeLeftTextBold {
	color: #000000;
	font: bold 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
	text-decoration: none;
}

a.wbHomeMidText,a.wbHomeMidText:active,a.wbHomeMidText:visited{
	color: #008CB8;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

a.wbHomeRightText,a.wbHomeRightText:active,a.wbHomeRightText:visited, a.wbHomeRightText:hover, .wbHomeMidHeadSText, .wbHomeMidText, a.wbHomeMidText:hover, .wbHomeRightText {
	color: #000000;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

a.wbHomeRightTextBold,a.wbHomeRightTextBold:active,a.wbHomeRightTextBold:visited, .wbHomeMidTextBold, .wbHomeRightTextBold {
	color: #000000;
	font: Bold 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

a.wbHomeRightTextBold:hover{
	color: #08335D;
	font: Bold 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

td{
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbHomeFootBg{
	background: #477DA3;
}

.wbHomeLeftBg{
}

.wbHomeLeftText, .wbHomeLeftSText, a.wbHomeLeftSText,a.wbHomeLeftSText:active,a.wbHomeLeftSText:visited, a.wbHomeLeftSText:hover {
	color: #000000;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
	text-decoration: none;
}

.wbHomeMidBarBg{
	background: #217ABC;
}

.wbHomeMidBg{
}

.wbHomeMidBoxBg{
	background: #D2E3ED;
}

.wbHomeMidHeadBg{
	background: #BACFE0;
}

.wbHomeMidHeadText{
	color: #859334;
	font: bold 14px "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbHomeMidSubHeadText{
	color: #A3B63F;
	font: bold 12px "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbHomeRightBg{
	background: #C1D3DF;
}

.wbHomeRightBoxBg, .wbHomeBg, .wbHomeMidHeadBarBg {
	background: #81A3BC;
}

.wbHomeRightHeadBg{
	background: #174B70;
}

.wbHomeRightHeadText{
	color: #FFFFFF;
	font: Bold 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}
