/*= wizbank  CSS =========================================================
stylesheet type				  :MList View
suffix								   :mlstview
skin type						  : cw (cyberwisdom)
stylesheet name			   : mlstview.css	
version								: wizBank 3.5
=======================================================================*/

a.wbMLstViewLink:hover{
	color: #859334;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbMLstViewBg{
	background-color: #F8F9DD;
}

.wbMLstViewHeadBarBg{
	background-color: #A9BB31;
}

.wbMLstViewHeadText{
	color: #FFFFFF;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbMLstViewText, a.wbMLstViewLink,a.wbMLstViewLink:visited,a.wbMLstViewLink:active {
	color: #000000;
	font: 9pt  "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}
