<!doctype html>
<html ng-app="live">
    <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport"  id="viewport" />
      <title translate="cwn_title"></title>
      <link type="text/css" rel="stylesheet" href="../../css/jquery.mmenu.css" />
      <link rel="stylesheet" href="../../css/basic.css" />
      <script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="../../js/jquery.load.js"></script>
      <script type="text/javascript" src="../../js/jquery.load.js"></script>
      <script type="text/javascript" src="../../js/controllers/LiveController.js"></script>
      <script type="text/javascript" src="../../lib/common.js"></script>
      <script type="text/javascript" src="../../lib/qcloudPlayer.js" ></script>
    </head>

<body  ng-cloak class="ng-cloak" ng-controller="detailController">
<alert ng-repeat="alert in alerts" ngCloak type="{{alert.type}}" close="alert.close()">{{alert.msg | translate}}</alert>
    <div class="wrap">
        <header class="header mm-background" >
            <a class="header-back" ng-click="back();" href="javascript:void(0);"></a>
	    	<span class="header-title" ng-if="!show" ng-bind="lv.lv_title"></span>
	    	<span class="header-title" ng-if="show" ng-bind="'lab_live_pwd_auth' | translate"></span>
        </header> <!-- header End -->

        <section class="content" style="height:calc(100% - 46px);height:-moz-calc(100% - 46px);height:-webkit-calc(100% - 46px);position: absolute;width: 100%;" ng-if="!show && isVhall == 1">   
        	<iframe style="border:0;position: absolute;height:calc(100% - 46px);height:-moz-calc(100% - 46px);height:-webkit-calc(100% - 46px);" ng-src="{{records_url_chat}}" width="100%" ></iframe>
        </section>
        
        <section class="content" style="height:calc(100% - 46px);height:-moz-calc(100% - 46px);height:-webkit-calc(100% - 46px);position: absolute;width: 100%;" ng-if="!show && isVhall == 3">   
        	<iframe style="border:0;position: absolute;height:calc(100% - 46px);height:-moz-calc(100% - 46px);height:-webkit-calc(100% - 46px);" ng-src="{{gensee_url}}" width="100%" ></iframe>
        </section>
        
        <section class="content" style="height: 100%;width: 100%;" ng-if="!show && isVhall == 2">   
       		<div  id="id_video" style="width:100%; height:720px;"></div>
        </section>
        
        <section class="content" ng-if="show">
			<div class="panel" style="padding:10px;">
		        <p>{{"login_password" | translate }}：
		        	<input type="password" ng-model="livePwd" name="livePwd" />
		        </p>
		    </div>
		    
			<div style="padding:10px;">
		        <p>{{'lab_live_get_pwd' | translate}}<!-- 获取密码方式 --></p>
		        <p class="color-gray999">{{"lab_live_get_pwd_desc" | translate }}<!-- 如果不知道密码，请向相关管理员获取 --></p>
		    </div>
		    <div class="panel-list-cont-12">
		    	<a class="panel-box-btn-02 ng-binding ng-scope" ng-click="submitPwd()" href="javascript:void(0);">确定</a>
		    </div>	
		</section> <!-- content End -->
        
    </div> <!-- wrap End -->

    </body>
</html>