/*= wizbank  CSS =========================================================
stylesheet type				  :Search Bar
suffix								   :Srh
skin type						  : cw (cyberwisdom)
stylesheet name			   : srh.css	
version								: wizBank 3.5
=======================================================================*/

input.wbSrhFrm{
	border: solid;
	border-color: #708090;
	border-width: 0px 0px 0px 0px;
	font: 9pt   "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
	width: 100px;
}

.wbSrhBarBg{
	background-color: #A8D6E6;
	height: 24px;
}

.wbSrhBarHeadText{
	color: #08426F;
	font: bold 9pt   "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}

.wbSrhBarText{
	color: #000000;
	font: 9pt   "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif","新細明體","Taipei";
}
