/*= wizbank  CSS =========================================================
stylesheet type:ui
stylesheet name:forumcss	
Place Internet Explorer ONLY CSS here
this stylesheet auto imported by wb_ui.css
=======================================================================*/

a.Nav,.Nav{
	color: #FFFFFF;
	font: normal normal 9pt Verdana,Geneva,Arial,Helvetica,sans-serif !important;
	text-decoration: none;
}

a.Nav:hover{
	background-color: #07488E;
	color: #FFFFFF;
	font: normal normal 9pt Verdana,Geneva,Arial,Helvetica,sans-serif;
	text-decoration: none;
}

body{
	scrollbar-base-color: #C4E0FE;
	text-align: -moz-center; /* FF */
	#text-align: center; /* IE */
}

input.Btn{
	background-color: #C4E0FE;
	border: 1px outset #F5FAFE;
	color: #06446C;
	cursor: hand;
	font: 9pt Verdana,Geneva,Arial,Helvetica,sans-serif;
}

textarea.InputFrm,input.InputFrm{
	background: #F5FAFE;
	border: 1px solid;
	border-color: #A8D6E6;
	font: 9pt Verdana,Geneva,Arial,Helvetica,sans-serif;
	scrollbar-base-color: #C4E0FE;
}

.Box{
	background: #F5FAFE;
	border: 1px solid;
	border-color: #A8D6E6;
}

.Desc{
	color: #000000;
	font: 9pt Verdana,Geneva,Arial,Helvetica,sans-serif;
	margin-left: 18px;
	margin-right: 18px;
	text-decoration: none;
}

.Head{
	background-color: #8CCAF0;
	border: 0px;
	border-left-color: #E2F4FE;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #E2F4FE;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #E2F4FE;
	border-top-style: solid;
	border-top-width: 1px;
	color: #FFFFFF;
	font: bold 9pt Verdana,Geneva,Arial,Helvetica,sans-serif;
	height: 16px;
	padding-bottom: 2px  ! important;
	padding-left: 10px  ! important;
	padding-right: 10px  ! important;
	padding-top: 2px  ! important;
}

.Select{
	background: #F5FAFE;
	color: #000000;
	font: 9pt Verdana,Geneva,Arial,Helvetica,sans-serif;
}

.SmallText{
	color: #06446C;
	font: 9pt Verdana,Geneva,Arial,Helvetica,sans-serif;
}

.SmallTitleText{
	color: #000000;
	font: 9pt Verdana,Geneva,Arial,Helvetica,sans-serif;
}

.SubTitle,.TitleTextBold{
	color: #000000;
	font: bold 9pt Verdana,Geneva,Arial,Helvetica,sans-serif;
}

.TextBold{
	color: #06446C;
	font: bold 9pt Verdana,Geneva,Arial,Helvetica,sans-serif;
}

.TextBtn{
	background-color: #C4E0FE;
	border-bottom-color: #46A8CB;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #F5FAFE;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #46A8CB;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #F5FAFE;
	border-top-style: solid;
	border-top-width: 1px;
	color: #07488E;
	cursor: hand;
	font: 9pt Verdana,Geneva,Arial,Helvetica,sans-serif ! important;
	height: 16px;
	margin: 2px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
}

.TextBtn:hover{
	background-color: #FFFFCC;
	border: 1px inset #F5FAFE;
	color: #07488E;
	cursor: hand;
	font: 9pt Verdana,Geneva,Arial,Helvetica,sans-serif;
	height: 16px;
	margin: 2px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
}

.Title{
	color: #000000;
}

.TopText{
	color: #000000;
	font: bold 9pt Verdana,Geneva,Arial,Helvetica,sans-serif !important;
	text-decoration: none;
}
