@charset "utf-8";
/* 公共样式设置 */
body{ font:12px/18px "宋体",arial,Verdana,tahoma,Lucida,Helvetica,sans-serif; color:#333; letter-spacing:1px;}
html,body,div,p,span,form,iframe,blockquote,table,td,th,input,textarea,button,label,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,dt,th{ font-size:100%; font-weight:normal;}
ul,ol,dl{ list-style-type:none;}
img{ border:0;}
em,i,dfn,cite,strong,small{ font-style:normal;} 
fieldset,img,button,input,select,option{ border:0; vertical-align:middle; font:12px/18px Verdana,tahoma,Lucida,arial,Helvetica,sans-serif;}
table{ border-collapse:collapse; border-spacing:0;}
select{border: 1px solid #e6e6e6;}

/* color */
a:link,a:visited{ text-decoration:none;}     a:hover,a:focus{ opacity:0.7; text-decoration:none;}
.grayC333:link,.grayC333:visited{ color:#333; text-decoration:none;}         .yellowCffb{ color:#ffba00;}
.white{ color:#fff;}     .grayC333{ color:#333;}    .grayC666{ color:#666;}     .grayC999{ color:#999;}     .grayCdbd{ color:#dbdbdb;}
  
/* upper */
.upper{ width:100%; background:#01aef0;}
.upper_info{ overflow:hidden;}
.upper_tit{ float:left; padding:15px 0px 15px 50px; font-size:18px; color:#fff; font-family:"Microsoft YaHei","微软雅黑";line-height:25px;}
.upper_tool{ float:right; padding:30px 30px 0 0;}
.upper_btn{ padding:5px 20px 8px 20px; font-size:18px; color:#fff; font-family:"Microsoft YaHei","微软雅黑";}
.blueC007{ background:#00719b;}       .orangeCfeb{ background:#feb900;}
.exit_btn{margin-right:10px;padding:7px 30px 10px; font-size:18px; color:#fff; font-family:"Microsoft YaHei","微软雅黑";}

/* report */
.left_div_width{float: left;width: 40%;text-align: right;padding-right: 5px;}
.right_div_width{float: left;width: 55%;word-wrap: break-word;}
.report_info{font-size: 12px;background: none repeat scroll 0 0 #f6f6f6;line-height: 30px;margin: 20px 20px;padding: 20px;}
.content_info{margin: 0 20px;}
.report_title{background: none repeat scroll 0 0 #f6f6f6;font-size: 14px;padding: 10px;}
.report_title td{padding: 10px 0;}
.report_content_tr{border-bottom: 1px solid #eee;font-size: 12px;padding: 5px 10px; display:inline-block; width:100%;}
.report_content_tr:last-child{ border-bottom:none;}
.report_content_tr td{padding: 10px 0;font-size: 12px;}
.report_footer{font-size: 12px;background: none repeat scroll 0 0 #f6f6f6;line-height: 30px;margin: 10px 40px;padding: 5px;}
.report_botton{text-align:center;padding:0 20px 10px;}
.report_botton a:link, .report_botton a:visited{margin-right:20px; padding:7px 30px; font-size:12px; color:#fff; font-family:"Microsoft YaHei","微软雅黑"; background:#01aef0;line-height: 40px;}
.report_usr_name{float: left;color:#00aeef;}
.report_top{margin:20px 40px 20px;font-family:"Microsoft YaHei","微软雅黑";font-size:14px;min-height: 20px;}
.report_outline{background:#aaa;font-size:14px; color:#fff; font-family:"Microsoft YaHei","微软雅黑";padding: 5px 25px;line-height: 32px;}
.ui_head{background: url("../images/gray.png") repeat-x scroll center bottom rgba(0, 0, 0, 0);margin: 0 20px;padding-top:20px;}
.null_head{padding-top:20px;}
.clean_margin{margin:0px 20px;}

/* work */
.work_input_desc{margin:20px 20px;font-family:"Microsoft YaHei","微软雅黑";font-size:14px;font-weight:500;}
.work_input_desc a:link{padding:0px 3px;color:#01aef0;}
.work_step{margin:30px 20px;font-family:"Microsoft YaHei","微软雅黑";font-size:18px;color:#ffba00;font-weight:500;}
.work_font{margin:10px 20px;font-size:12px;}
.work_doc_num{width:50px;border: 1px solid #e6e6e6;height: 25px;text-align:center;}
.work_frame{margin:20px 20px;min-height: 120px;}
.work_div_left{text-align: left;padding: 5px;font-family:"Microsoft YaHei","微软雅黑";font-size:12px;}
.work_div_right{padding: 5px;font-family:"Microsoft YaHei","微软雅黑";font-size:12px;}

.yellow_icon{background: url("../images/yellow_icon.png") no-repeat;color: #fff;padding: 11px 18px;margin-right: 10px;}

.file {height: 25px;position: relative;width: 250px;}
.file_file {cursor: pointer;height: 23px;left: 0;opacity: 0;position: absolute;top: 0;width: 250px;z-index: 10;}
.file_txt {background: none repeat scroll 0 0 #fff;border: 1px solid #ebebeb;font-size: 12px;height: 23px;left: 0;line-height: 20px;overflow: hidden;position: absolute;text-align: left;text-overflow: ellipsis;top: 0;white-space: nowrap;width: 207px;z-index: 1;}
.file_button {background: none repeat scroll 0 0 #ffba00;color: #fff;height: 21px;line-height: 18px;margin-left: -7px;padding: 2px 10px;position: absolute;right: 0;text-align: center;top: 0;z-index: 1;}

.ass_left{width:30%;float:left;}
.ass_left a:link{color: #428bca;}
.ass_right{width:69%;float:left;}
.wrap{background-color:#fff;}
.three_div_width{width: 33%;float: left;}
.text_center{text-align: center;}

.noticebox{margin: 10px 10px 0px 10px;border:1px solid #e6e6e6;background: #fff;}
.list{border-bottom: none;}
.floatr{font-size: 12px; height: 75px;}
.videoImg{float: left;margin-right: 5px;width: 85px;height: 75px;overflow: hidden;position: relative;}
.videoImg img{width: 85px;height: 75px;display: block;}
.videoContent{padding-left: 90px;}
.cname{overflow: hidden;font-size: 14px;line-height: 20px;}
.deleteImg{float: right;background: url(../images/wiztool.png) no-repeat 0 -680px;background-size: 20px;height: 20px;width: 16px;margin-top: -5px;margin-right: 5px;}

.video_body{text-align:center;background:#000000;margin:0;padding:0;}
.video_head{position: absolute;width: 100%;height: 40px;background: #FFFFFF;opacity: 0.7;z-index: 999;display: none;}
.video_head .video_head_back{float: left;padding-top: 10px;width: 60px;font-size: 18px;color: #AAAAAA;}
.video_head .video_head_title{font-size: 16px;padding-top: 10px;margin-right: 60px;color: #AAAAAA;}
