<!doctype html>
<html ng-app="cwn">
<head>
<title>Retrieve password</title>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../css/basic.css" />
<link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.load.js"></script>
<script type="text/javascript" src="../js/controllers/LoginController.js"></script>
<script type="text/javascript" src="../lib/common.js" ></script>

<style type="text/css">
select {
  border: solid 1px #AAA;
  color : #000;
}
</style>

<script type="text/javascript">
$(function(){
	$("#show_content").height(window.innerHeight);
});
</script>
<body ng-cloak class="ng-cloak" ng-controller="RetrievePwdController">

	<header class="header mm-background" style="z-index: 10000">
    		<a class="header-back" href="login.html"></a>
    		<span class="header-title">{{'lab_retire_pwd' | translate}}</span>
		</header>
	<section class="content" style="font-size:10px;">
		<div class="fp-whole-box-position">
	<alert class="margin-top25" ng-repeat="alert in alerts" ngCloak type="{{alert.type}}" close="alert.close()">{{alert.msg | translate}}</alert>
		<div class="fp-whole-box-bg margin-left-70" align="center">
		<div class="fp-whole-box"><br/><br/>
			<table>
				<tr ng-show="appInd">
					<td class="fp-form-label">
						<div>LMS URL：</div>
					</td>
					<td class="fp-form-control">
						<input type="text" class="fp-form-control-input" name="serverHost" ng-model="serverHost">
					</td>
				</tr>
				<tr ng-show="appInd">
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td class="fp-form-label">
						<div>{{'lab_user_id' | translate}}：</div>
					</td>
					<td class="fp-form-control">
						<input type="text" class="fp-form-control-input" name="usr_id" ng-model="usr_id" placeholder="">
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td class="fp-form-label">
						<div>{{'lab_email' | translate}}：</div>
					</td>
					<td class="fp-form-control">
						<input type="text" class="fp-form-control-input" name="usr_email" ng-model="usr_email" placeholder="">
					</td>
				</tr>
				
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td></td>
					<td class="fp-form-control" align="left">
						<input type="button" class="fp-btn fp-btn-orange" name="sure"
						value="{{'btn_fpw_ok' | translate}}" ng-click="submit()">
						<a href="login.html" ng-click="forgetPwd()">
							<input type="button" class="fp-btn fp-btn-orange margin-left20" value="{{'btn_fpw_cancel' | translate}}">
						</a>
					</td>
				</tr>
			</table>
		</div>
		</div>
		</div>
		
	</section>
</body>
</html>