<!doctype html>
<html ng-app="cwn">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport"  id="viewport" />
<title translate="cwn_title"></title>
<link type="text/css" rel="stylesheet" href="../css/jquery.mmenu.css" />
<link rel="stylesheet" href="../css/basic.css" />
<link rel="icon" href="../images/favicon.ico" type="image/x-icon" />

<script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>

<script type="text/javascript" src="../js/jquery.load.js"></script>
<script type="text/javascript" src="../js/controllers/ForwardController.js"></script>

<!--[if lt IE 9]>
<script src="../js/lib/html5.js" type="text/jscript"></script>
<![endif]-->
</head>
<body ng-cloak class="ng-cloak" ng-controller="forwardController">

</body>
</html>