<!doctype html>
<html ng-app="cwn">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport"  id="viewport" />
<title translate="cwn_title"></title>
<link type="text/css" rel="stylesheet" href="../css/basic.css" />
<link type="text/css" rel="stylesheet" href="../css/pure-min.css">
<link rel="icon" href="../images/favicon.ico" type="image/x-icon" />


<script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.load.js"></script>
<script type="text/javascript" src="../js/controllers/LoginController.js"></script>
<script type="text/javascript" src="../lib/common.js"></script>
</head>
<body ng-cloak class="ng-cloak" ng-controller="ChangePwdController">
<alert ng-repeat="alert in alerts" ngCloak type="{{alert.type}}" close="alert.close()">{{alert.msg | translate}}</alert>    
 
<div class="wrap" id="wizwrap">
	<header class="header mm-background">
	    <a class="header-back" href="javascript:back();" title="back" ng-if="!passwordPolicyInfo.forceChange && loaded && !fromIndex"></a>
	    <span class="header-title">{{ 'set_pwd' | translate}}</span>
	    <a class="header-info" href="javascript:;" ng-click="setPwd()" title="save">{{'btn_save' | translate}}</a>
	</header> <!-- header End -->
	
	<section class="content">
		<div class="cont-info-2" style="padding:0 10px;">
		    <div class="tuwen-list-5 clearfix">
		        <a class="tuwen-list-5-pic" href="JavaScript:void(0)" style="cursor:default;">
		            <img ng-src="{{serverHost + user.photo}}">
		        </a>
		        <div>
		            <p style="font-size:16px;line-height:54px;color:#666" ng-bind="user.disBil"></p>
		        </div>
		    </div>
		</div>
		<div class="panel" style="padding:5px;">
			<p class="color-gray666">{{'set_tip_pwd_compare_count' | translate : {n : 4} }}</p>
	    </div>
	    
	    <div class="panel">
		    <div class="panel-list-box" style="margin:0;">
			<div class="cont-list-tuwen">
			<form class="pure-form">
			    <input type="password" ng-model="usr_pwd_old" class="pure-form-txt-1" placeholder="{{'set_pwd_old' | translate}}" maxlength="20">
			    <input type="password" ng-model="usr_pwd_new" class="pure-form-txt-1" placeholder="{{'set_pwd_new' | translate}}" maxlength="20">
			    <input type="password" ng-model="usr_pwd_confirm" class="pure-form-txt-1" placeholder="{{'set_pwd_confirm' | translate}}" maxlength="20">
			</form>
			</div>
			</div>
	    </div>
		
		<div style="padding:10px;">
	        <p class="color-gray666">{{"set_tip_pwd_length_page" | translate: {min : 3,max : 20} }}<!-- 请使用纯英文字母/数字/下划线/横线的组合，必须同时包含英文字母和数字，最小长度为3，最大长度为20. --></p>
	    </div>
	    
	    <!-- <div class="panel-list-cont-12">强制修改就没有这个按钮
	        <a class="panel-box-btn-02" href="javascript:void(0)" ng-click="back()">{{'set_tip_pwd_btn_next_time' | translate}}下次再改</a>
	    </div> -->
		
	</section> <!-- content End -->
</div> <!-- wrap End -->

</body>
</html>