<!DOCTYPE html>
<html ng-app="gradeMapModule" lang="en" full>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title translate="cwn_title"></title>
	<link rel="stylesheet" href="../../css/basic.css" />
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/jquery.load.js"></script>
	<script type="text/javascript" src="../../lib/common.js"></script>
	<script type="text/javascript" src="../../js/controllers/gradeMap/gradeMapController.js"></script>
	<style>
		body{font-size:20px;color:#644A06;font-family:"Microsoft YaHei";overflow:hidden;margin:0 auto;background:#FFFFFF;}
		[full]{width:100%;height:100%;}
		#mycontent div{position:absolute;}
		#mycontent img{position:absolute;}
		.totd{
			font-family:"Microsoft YaHei";
			font-size:1.5em;
			color:#000000;
			line-height:120%;
		}
		.totd1{
			font-family:"Microsoft YaHei";
			font-size:1.5em;
			color:#666666;
			line-height:120%;
		}
	</style>
</head>
<body ng-cloak class="ng-cloak" ng-controller="gradeMapCourseListController" full ondragstart="return false;">
	<alert ng-repeat="alert in alerts" ngCloak type="{{alert.type}}" close="alert.close()">{{alert.msg | translate}}</alert>
	<header class="header mm-background">
	    <a class="header-back" href="javascript:back();"></a>
	    <span class="header-title">{{'map_profession_develop' | translate}}</span>
	</header> <!-- header End -->
	
	<div id="mycontent" style="left:0%;top:0%;width:100%;height:100%;position:absolute;overflow-x:hidden;">
		<div class="F1" style="left:0%;top:0%;width:100%;height:100%;display:none;">
			<img class="bg" style="left:0%;top:0%;width:100%;height:100%;" src="../../images/p1_1_1.jpg" alt="" />
			<img class="topbg" style="left:0%;top:0.406%;width:100%;height:8.125%;" src="../../images/topbg.png" alt="" />
			<div class="house1" style="left:1.481%;top:8.073%;width:97.037%;height:17.188%;display:none;">
				<img class="house_bg" style="left:0%;top:0%;width:100%;height:100%;" src="../../images/housebg.png" alt="" />
				<img class="house_tbg" style="left:2.385%;top:20%;width:34.16%;height:66.364%;" src="../../images/icon01.png" alt="" />

				<img class="house_compulsory0" style="left:2.385%;top:20%;width:10.782%;height:26.364%;" src="../../images/compulsory0.png" alt="" />
				<img class="house_compulsory1" style="left:2.385%;top:20%;width:10.782%;height:26.364%;" src="../../images/compulsory1.png" alt="" />
				<img class="house_type_selfstudy" style="left:29.866%;top:21.818%;width:5.725%;height:18.182%;" src="../../images/selfstudy.png" alt="" />
				<img class="house_type_classroom" style="left:29.866%;top:21.818%;width:5.725%;height:18.182%;" src="../../images/classroom.png" alt="" />
				<img class="house_type_intergrated" style="left:29.866%;top:21.818%;width:5.725%;height:18.182%;" src="../../images/intergrated.png" alt="" />
				<img class="house_notcanread" style="left:0.573%;top:13.939%;width:3.912%;height:12.424%;" src="../../images/notcanread.png" alt="" />

				<div class="house_t" style="left:40.84%;top:18.182%;width:56.393%;height:53.939%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="left" valign="top" class="totd"></td></tr></table>
				</div>
				<div class="house_t1" style="left:46.851%;top:74.848%;width:19.542%;height:13.636%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="left" valign="middle" class="totd1"></td></tr></table>
				</div>
				<div class="house_t2" style="left:37.309%;top:74.848%;width:61.641%;height:13.636%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="right" valign="middle" class="totd1"></td></tr></table>
				</div>
			</div>



		</div>
	</div>
</body>
</html>