<!DOCTYPE html>
<html ng-app="gradeMapModule" lang="en" full>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title translate="cwn_title"></title>
	<link rel="stylesheet" href="../../css/basic.css" />
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/jquery.load.js"></script>
	<script type="text/javascript" src="../../lib/common.js"></script>
	<script type="text/javascript" src="../../js/controllers/gradeMap/gradeMapController.js"></script>
	<style>
		body{font-size:20px;color:#644A06;font-family:"Microsoft YaHei";overflow:hidden;margin:0 auto;background:#ADD7F2;}
		[full]{width:100%;height:100%;}
		#mycontent div{position:absolute;}
		#mycontent img{position:absolute;}
		.totd{
			font-family:"Microsoft YaHei";
			font-size:0.5em;
			color:#FFFFFF;
			line-height:100%;
		}
	</style>
</head>
<body ng-cloak class="ng-cloak" ng-controller="gradeMapDetailController" full ondragstart="return false;">
	<alert ng-repeat="alert in alerts" ngCloak type="{{alert.type}}" close="alert.close()">{{alert.msg | translate}}</alert>
	<header class="header mm-background">
	    <a class="header-back" href="javascript:back();"></a>
	    <span class="header-title">{{'map_profession_develop' | translate}}</span>
	</header> <!-- header End -->
	<div id="mycontent" style="left:0%;top:0%;width:100%;height:100%;position:absolute;overflow-x:hidden;">
		<div class="F1" style="left:0%;top:0%;width:100%;height:100%;overflow:hidden;display:none;">
			<div class="renitem" style="left:0%;top:0%;width:100%;height:100%;overflow:hidden;">
				<img class="p1" style="left:0%;top:0%;width:100%;height:100%;" src="../../images/p1_1.jpg" alt="" />
				<img class="ren1" style="left:87.5%;top:21.927%;width:12.315%;height:14.219%;" src="../../images/ren1.gif" alt="" />
				<img class="item3" style="left:62.685%;top:26.51%;width:37.315%;height:22.604%;" src="../../images/item3.png" alt="" />
				<img class="ren2" style="left:79.815%;top:35.365%;width:14.167%;height:13.75%;" src="../../images/ren2.gif" alt="" />

				<img class="item1" style="left:0%;top:31.354%;width:32.593%;height:23.281%;" src="../../images/item1.png" alt="" />
				<img class="ren3" style="left:10.741%;top:40.677%;width:16.852%;height:17.188%;" src="../../images/ren3.gif" alt="" />
				<img class="ren4" style="left:0%;top:47.031%;width:5.556%;height:10.156%;" src="../../images/ren4.gif" alt="" />
				<img class="item2" style="left:1.574%;top:50.104%;width:12.685%;height:11.094%;" src="../../images/item2.png" alt="" />
				
				<img class="item4" style="left:-18.056%;top:72.344%;width:54.63%;height:15.573%;" src="../../images/item4.png" alt="" />
				<img class="ren6" style="left:-5.37%;top:74.167%;width:13.148%;height:14.063%;" src="../../images/ren6.gif" alt="" />
				<img class="item5" style="left:-3.704%;top:83.125%;width:24.074%;height:10.677%;" src="../../images/item5.png" alt="" />
				<img class="ren5" style="left:11.944%;top:73.646%;width:12.037%;height:15.625%;" src="../../images/ren5.gif" alt="" />
			</div>

			<div class="house1" style="left:38.148%;top:32.708%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house2" style="left:38.148%;top:43.958%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house3" style="left:18.796%;top:60.833%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house4" style="left:57.407%;top:60.833%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house5" style="left:37.87%;top:77.813%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
		</div>
		<div class="F2" style="left:0%;top:100%;width:100%;height:100%;display:none;">
			<div class="renitem" style="left:0%;top:0%;width:100%;height:100%;overflow:hidden;">
				<img class="p1" style="left:0%;top:0%;width:100%;height:100%;" src="../../images/p2.jpg" alt="" />
				<img class="ren1" style="left:87.5%;top:1.198%;width:12.315%;height:14.219%;" src="../../images/ren1.gif" alt="" />
				<img class="item3" style="left:62.685%;top:5.781%;width:37.315%;height:22.604%;" src="../../images/item3.png" alt="" />
				<img class="ren2" style="left:79.815%;top:14.635%;width:14.167%;height:13.75%;" src="../../images/ren2.gif" alt="" />

				<img class="item4" style="left:60.926%;top:49.01%;width:54.63%;height:15.573%;" src="../../images/item4.png" alt="" />
				<img class="ren6" style="left:73.611%;top:50.365%;width:13.148%;height:14.063%;" src="../../images/ren6.gif" alt="" />
				<img class="item5" style="left:75.278%;top:59.323%;width:24.074%;height:10.677%;" src="../../images/item5.png" alt="" />
				<img class="ren5" style="left:90.926%;top:49.844%;width:12.037%;height:15.625%;" src="../../images/ren5.gif" alt="" />

				<img class="item1" style="left:0%;top:66.406%;width:32.593%;height:23.281%;" src="../../images/item1.png" alt="" />
				<img class="ren3" style="left:10.741%;top:75.729%;width:16.852%;height:17.188%;" src="../../images/ren3.gif" alt="" />
				<img class="ren4" style="left:0%;top:82.083%;width:5.556%;height:10.156%;" src="../../images/ren4.gif" alt="" />
				<img class="item2" style="left:1.574%;top:85.156%;width:12.685%;height:11.094%;" src="../../images/item2.png" alt="" />
			</div>

			<div class="house1" style="left:18.889%;top:-5.365%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house2" style="left:57.5%;top:-5.365%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house3" style="left:18.796%;top:5.833%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house4" style="left:57.963%;top:17.292%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house5" style="left:38.056%;top:22.813%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>

			<div class="house6" style="left:18.796%;top:39.688%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house7" style="left:54.352%;top:39.688%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house8" style="left:0.556%;top:56.458%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house9" style="left:39.259%;top:67.969%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house10" style="left:39.259%;top:79.167%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
		</div>
		<div class="F3" style="left:0%;top:200%;width:100%;height:100%;display:none;">
			<div class="renitem" style="left:0%;top:0%;width:100%;height:100%;overflow:hidden;">
				<img class="p1" style="left:0%;top:0%;width:100%;height:100%;" src="../../images/p3.jpg" alt="" />
				<img class="item4" style="left:-18.056%;top:8.073%;width:54.63%;height:15.573%;" src="../../images/item4.png" alt="" />
				<img class="ren6" style="left:-5.37%;top:9.427%;width:13.148%;height:14.063%;" src="../../images/ren6.gif" alt="" />
				<img class="item5" style="left:-3.704%;top:18.385%;width:24.074%;height:10.677%;" src="../../images/item5.png" alt="" />
				<img class="ren5" style="left:11.944%;top:8.906%;width:12.037%;height:15.625%;" src="../../images/ren5.gif" alt="" />

				<img class="ren1" style="left:87.5%;top:36.51%;width:12.315%;height:14.219%;" src="../../images/ren1.gif" alt="" />
				<img class="item3" style="left:62.685%;top:41.094%;width:37.315%;height:22.604%;" src="../../images/item3.png" alt="" />
				<img class="ren2" style="left:79.815%;top:49.948%;width:14.167%;height:13.75%;" src="../../images/ren2.gif" alt="" />

				<img class="item4a" style="left:60.926%;top:84.167%;width:54.63%;height:15.573%;" src="../../images/item4.png" alt="" />
				<img class="ren6a" style="left:73.611%;top:85.521%;width:13.148%;height:14.063%;" src="../../images/ren6.gif" alt="" />
				<img class="item5a" style="left:75.278%;top:94.479%;width:24.074%;height:10.677%;" src="../../images/item5.png" alt="" />
				<img class="ren5a" style="left:90.926%;top:85%;width:12.037%;height:15.625%;" src="../../images/ren5.gif" alt="" />
			</div>

			<div class="house1" style="left:19.907%;top:-3.958%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house2" style="left:58.519%;top:-3.958%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house3" style="left:38.981%;top:13.021%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house4" style="left:20%;top:29.844%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house5" style="left:58.611%;top:29.844%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>

			<div class="house6" style="left:19.898%;top:41.042%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house7" style="left:59.074%;top:52.5%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house8" style="left:39.167%;top:58.021%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house9" style="left:19.907%;top:74.896%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
			<div class="house10" style="left:55.556%;top:73.906%;width:23.333%;height:13.385%;">
				<img class="house_bg" style="left:15.079%;top:58.366%;width:71.429%;height:41.634%;" src="../../images/housebg1.png" alt="" />
				<img class="house_tbg" style="left:0%;top:0%;width:100%;height:73.152%;" src="../../images/housetitlebg.png" alt="" />
				<div class="house_t" style="left:1.19%;top:1.167%;width:97.222%;height:50.973%;overflow:hidden;">
					<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0"><tr align="center"><td align="center" valign="middle" class="totd"></td></tr></table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>