/*= wizbank  CSS =========================================================
suffix								:km
skin type						  	: cw (cyberwisdom)
stylesheet name			   			: km.css	
version								: wizBank 3.5
=======================================================================*/
a.wbKmNavLink {
	color: #000000;
	font: bold 7pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	text-decoration: none;
	margin-left: 0px;
	margin-right: 0px;
	text-decoration: none
}

a.wbKmNavTitle,.wbKmNavTitle {
	color: #000000;
	font: bold 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-decoration: none;
	margin-left: 8px;
	margin-right: 8px;
}

a.wbKmNavSubTitle,.wbKmNavSubTitle {
	color: #000000;
	font: bold 7pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	text-decoration: none;
	margin-left: 12px;
	margin-right: 12px;
}

a.wbKmNavDesc,.wbKmNavDesc {
	color: #000000;
	font: 7pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	text-decoration: none;
	margin-left: 18px;
	margin-right: 18px;
}

.wbKmNavNav {
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	margin-left: 12px;
}

.wbKmNavBg {
	background-color: #ffffff;
}

.km_menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.km_menu li {
	float: left;
}

.km_menu li a {
	color: #000;
	font-size: 7pt;
	text-decoration: none;
	padding: 3px 8px;
}