/*= wizbank  CSS =========================================================
stylesheet type				  :Parent Info
suffix								   :ParInf
skin type						  : cw (cyberwisdom)
stylesheet name			   : parinf.css	
version								: wizBank 3.5
=======================================================================*/

.wbParInfBg, .wbParInfBarBg {
	background-color: #8CCAF0;
}

.wbParInfContentBg{
	background-color: #FFFFFF;
}
.wbParInfTitleRedText{
	color: #FF0099;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbParInfContentRedText{
	color: #FF0099;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbParInfLinkBg{
	background-color: #A7E8FF;
}

.wbParInfLinkText{
	color: #000000;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbParInfLinkSText{
	color: #000000;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbParInfResLeftBg{
	background: #8CCAF1;
	height: 16px;
}

.wbParInfResRightBg{
	background: url(../frm_bg.gif) #8CCAF1;
	height: 16px;
}

.wbParInfText, .wbParInfTitleTextBold, .wbParInfContentTextBold, .wbParInfMultiTitleText {
	color: #08426F;
	font: bold 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.wbParInfTitleBg{
	background-color: #F0FBFF;
}

.wbParInfTitleText, .wbParInfContentText, .wbParInfMultiContentText, .wbParInfResLeftText {
	color: #08426F;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
}
